<script>
  $(document).ready(function(){
    $('.fab').click (function(){
      $('.radial').toggleClass('open');
    });
  });
</script>
<div class="radial">
  <form action="../contact" method="get">
    <button class="fa fa-map-marker fa-3x tooltip" id="fa-1" >
      <span class="tooltiptext">Our Address</span>
    </button>
  </form>
  <form action="../about" method="get">
    <button class="fa fa-home fa-3x tooltip" id="fa-2">
      <span class="tooltiptext">About Us</span>
    </button>
  </form>
  <form action="http://sda.cs.uni-bonn.de/blog/"  target="_blank" method="get">
    <button class="fa fa-wordpress fa-3x tooltip" id="fa-3">
      <span class="tooltiptext">Blog</span>
    </button>
  </form>
  <button class="fab">
    <div class="fa fa-plus fa-3x" id="plus"></div>
  </button>
</div>
