<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title id="title">{% if page.titlex %}{{ page.titlex | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css.module/materialTable.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css.module/collapsable.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/font-awesome/css/font-awesome.min.css" | relative_url }}">
  <link rel="icon" href="{{ "/assets/images/logo/sdafavicon.png" | relative_url }}" sizes="32x32">


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <script type="text/javascript" src="/assets/scripts/setTitle.js"></script>
  <script type="text/javascript">
    function activateHeader(div) {
      document.getElementById(div).style.color = "#5CBF14" ;
    }

    function deactivateHeader() {
      document.getElementById("About").style.color = "#087CCD" ;
      document.getElementById("People").style.color = "#087CCD" ;
      document.getElementById("Groups").style.color = "#087CCD" ;
      document.getElementById("Projects").style.color = "#087CCD" ;
      document.getElementById("Publications").style.color = "#087CCD" ;
      document.getElementById("Jobs").style.color = "#087CCD" ;
      document.getElementById("Teaching").style.color = "#087CCD" ;
      document.getElementById("Thesis").style.color = "#087CCD" ;
      document.getElementById("Partners").style.color = "#087CCD" ;
      document.getElementById("Blog").style.color = "#087CCD" ;
      document.getElementById("Contact").style.color = "#087CCD" ;
    }



    function setBoolFromAllToDetailPerson( bool, path )
    {
      localStorage.setItem("boolFromAllToDetailPerson", bool );
      window.location.href = path ;
    }

    function getBoolFromAllToDetailPerson( )
    {
      return localStorage.getItem("boolFromAllToDetailPerson") ;
    }

    function setBoolFromAllToDetailProject( bool, path )
    {
      localStorage.setItem("boolFromAllToDetailProject", bool );
      window.location.href = path ;
    }

    function getBoolFromAllToDetailProject( )
    {
      return boolFromAllToDetailProject ;
    }

    function setBoolFromAllToDetailPost(  bool, path )
    {
      boolFromAllToDetailPost = bool ;
    }

    function getBoolFromAllToDetailPost( )
    {
      return boolFromAllToDetailPost ;
    }


  </script>
  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
