{% capture query %} SELECT ?akadJob ?title ?desc ?req ?offer ?expect ?exp WHERE{
?akadJob a foaf:Document . ?akadJob rdfs:label ?title . ?akadJob ex:description ?desc . ?akadJob sda:requirements ?req . ?akadJob sda:expected ?expect . ?akadJob sda:experience ?exp . ?akadJob sda:offer ?offer .} {% endcapture %} {% assign akadset = page.rdf | sparql_query: query %}

<div class="job-contents content-people">
  <div class="jobDescription" id="open" style="{% if include.active == 'openJobs' %}display:block{% else %}display:none{% endif %}">
    {% capture query %} SELECT ?jobs ?title ?desc ?label WHERE{
?jobs a sdatech:Job . ?jobs dct:title ?title . ?jobs ex:description ?desc . ?jobs rdfs:label ?label } {% endcapture %} {% assign resultset = page.rdf | sparql_query: query %}
{% for result in resultset %}{% assign url= result.jobs | remove: "http://sda.tech/" %}
{% capture job %}{{result.label}}{% endcapture %}
{% for result2 in akadset %}{% capture akadtitle %}{{result2.title}}{% endcapture %}{% if akadtitle == job %}{% capture externDesc %}{{result2.desc}}{% endcapture %}{% endif %}{% endfor %}
<h2 style="text-align:center;"><a href="/{{url}}">{{result.title}}</a></h2>
<br class="horizontal-separator" />
<div class="shortDescJob">{% capture descOffer %}{{result.desc}}{% endcapture %}
  <p>{% if descOffer == "undefined" %}{{externDesc}}{% else %}{{descOffer}}{% endif %}</p>
</div>
{% endfor %}
  </div>
  <div class="jobDescription" id="akRat" style="{% if include.active == 'akadRat' %}display:block{% else %}display:none{% endif %}">
    {% include jobType0.html %}
  </div>
  <div class="jobDescription" id="posDoc" style="{% if include.active == 'postDoc' %}display:block{% else %}display:none{% endif %}">
    {% include jobType1.html %}
  </div>
  <div class="jobDescription" id="phJob" style="{% if include.active == 'researchAss' %}display:block{% else %}display:none{% endif %}">
    {% include jobType2.html %}
  </div>
  <div class="jobDescription" id="saJob" style="{% if include.active == 'studentAss' %}display:block{% else %}display:none{% endif %}">
    {% include jobType3.html %}
  </div>
  <div class="jobDescription" id="jobEnv" style="{% if include.active == 'envJob' %}display:block{% else %}display:none{% endif %}">
    {% include jobEnvoirnment.html %}
  </div>
  <div class="jobDescription" id="jobFaq" style="{% if include.active == 'faqJob' %}display:block{% else %}display:none{% endif %}">
    {% include jobFaq.html %}
  </div>
</div>
