{% capture query %} SELECT ?akadJob ?title ?img ?desc ?req ?offer ?expect ?exp WHERE{
?akadJob a sdatech:Job . ?akadJob dct:title ?title . ?akadJob rdfs:label ?label . ?akadJob foaf:depiction ?img . ?akadJob ex:longDescription ?desc .} {% endcapture %} {% assign akadset = page.rdf | sparql_query: query %}

{% capture query %} SELECT ?akadJob ?title ?img ?desc ?req ?offer ?expect ?exp WHERE{
?akadJob a sdatech:ArchivedJob . ?akadJob dct:title ?title . ?akadJob rdfs:label ?label . ?akadJob foaf:depiction ?img . ?akadJob ex:longDescription ?desc .} {% endcapture %} {% assign akadset2 = page.rdf | sparql_query: query %}

<div class="job-contents content-people">
  <div class="jobDescription" id="open" style="{% if include.active == 'openJobs' %}display:inline-block{% else %}display:none{% endif %}">
{% for result in akadset %}{% assign url= result.akadJob | remove: "http://sda.tech/" %}
<div class="jobCard">
<h2 style="text-align:center;"><a href="/{{url}}">{{result.title}}</a></h2>
<br class="horizontal-separator" />{% capture desc %}{{result.desc}}{% endcapture %}{% if desc != 'undefined' %}
<div class="shortDescJob">
  <p>{{desc}}</p>
</div>{% endif %}
</div>
{% endfor %}
  </div>

<div class="jobDescription" id="archived" style="{% if include.active == 'archivedJobs' %}display:inline-block{% else %}display:none{% endif %}">
{% for result in akadset2 %}{% assign url= result.akadJob | remove: "http://sda.tech/" %}
<div class="jobCard">
<h2 style="text-align:center;"><a href="/{{url}}">{{result.title}}</a></h2>
<br class="horizontal-separator" />{% capture desc %}{{result.desc}}{% endcapture %}{% if desc != 'undefined' %}
<div class="shortDescJob">
  <p>{{desc}}</p>
</div>{% endif %}
</div>
{% endfor %}
  </div>


  <div class="jobDescription" id="jobEnv" style="{% if include.active == 'envJob' %}display:block{% else %}display:none{% endif %}">
    {% include jobEnvoirnment.html %}
  </div>
  <div class="jobDescription" id="jobFaq" style="{% if include.active == 'faqJob' %}display:block{% else %}display:none{% endif %}">
    {% include jobFaq.html %}
  </div>
</div>
