<a href="#" id="allPar" class="{% if include.active == 'all' %}active{% endif %} %active responsiveTabItem" onclick="allPartners()"><i class="fa fa-list-alt margin-icon" aria-hidden="true"></i>
All Partners</a>
<a href="#" id="industryPar" class="{% if include.active == 'industry' %}active{% endif %} %responsiveTabItem" onclick="industryPartners()"><i class="fa fa-industry margin-icon" aria-hidden="true"></i>
Industry Partners</a>
<a href="#" id="academicPar" class="{% if include.active == 'academic' %}active{% endif %} %responsiveTabItem" onclick="academicPartners()"><i class="fa fa-graduation-cap margin-icon" aria-hidden="true"></i>
Academic Partners</a>
<!-- <h1 class="post-title">Looking for our Partners ? Yes we have {{length}} partners.</h1> -->
<br/>
<br/>
<hr />
