<div id="allPartners" style="{% if include.active == 'all' %}display:block{% else %}display:none{% endif %}">
  <!--Presenting ALL the PARTNERS  -->
  {% if partnersArray.size != 0 %}
    <div class="content-title">
      <h2>Partners</h2>
    </div>
    {% assign mainCount = 1 %} {% for partner in partnersArray %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length - 1  %} {% include partnerItem.html title=partner.title partnerId=partner.partners image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %} {% include partnerItem.html
    title=partner.title partnerId=partner.partners image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
  {% else %}
    <div class="content-title">
      <h2>Partners</h2>
    </div>
    <div class="content-empty">
      <!-- Folder Image From (folder.png): https://www.flaticon.com/free-icon/folder_148963#term=folder&page=1&position=32 -->
      <img src="/assets/images/extras/folder.png" alt=""><br>
      <p>Currently there are no <strong>Partners</strong> to show.</p>
    </div>
  {% endif %}
</div>
<div id="industryPartners" style="{% if include.active == 'industry' %}display:block{% else %}display:none{% endif %}">
  {% if industryPartnersArray.size != 0 %}
    <!--Presenting ALL the INDUSTRY PARTNERS  -->
    <div class="content-title">
      <h2>Industry Partners</h2>
    </div>
    {% assign mainCount = 1 %} {% for partner in partners %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length - 1 %} {% include partnerItem.html title=partner.title image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %} {% include partnerItem.html
    title=partner.title image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
  {% else %}
    <div class="content-title">
      <h2>Industry Partners</h2>
    </div>
    <div class="content-empty">
      <img src="/assets/images/extras/folder.png" alt=""><br>
      <p>Currently there are no <strong>Industy Partners</strong> to show.</p>
    </div>
  {% endif %}
</div>
<div id="academicPartners" style="{% if include.active == 'academic' %}display:block{% else %}display:none{% endif %}">
  <!--Presenting ALL the ACADEMIC PARTNERS  -->
  {% if academicPartnersArray.size != 0 %}
    <div class="content-title">
      <h2>Academic Partners</h2>
    </div>
    {% assign mainCount = 1 %} {% for partner in partners %}{% capture partnerName %}{{partner.title}}{% endcapture %}{% if mainCount != length - 1 %}
    {% include partnerItem.html title=partner.title image=partner.image description=partner.description last=0 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% else %}
    {% include partnerItem.html
    title=partner.title image=partner.image description=partner.description last=1 href=partner.homepage projectList=partnersWithProjects name=partnerName %} {% endif %} {% assign mainCount = mainCount | plus:1 %} {% endfor %}
  {% else %}
    <div class="content-title">
      <h2>Academic Partners</h2>
    </div>
    <div class="content-empty">
      <img src="/assets/images/extras/folder.png" alt=""><br>
      <p>Currently there are no <strong>Academic Partners</strong> to show.</p>
    </div>
  {% endif %}
</div>
