<br class="horizontal-separator"/>
<div class="partner-title">
  <a href="{{include.href}}" target="_blank"> <h1>{{include.title}}</h1></a>
</div>
<div class="partner-item">
  <div style="vertical-align: middle;float: left;width: 25%;"> <img style="width: 200px;" src="{{include.image}}" alt="{{iclude.title}}"> </div>
  <div style="display:inline-block; vertical-align: middle;float: left;width: 75%;">
    {{include.description}}<br>
    We are partner in the following project(s) with {{include.name}}:
    <br><br class="horizontal-separator" />
    <div class="membersofProject">
      {% capture query %} SELECT ?partner ?project ?projectname ?image WHERE {
        <{{include.partnerId}}> foaf:currentProject ?project . ?project rdfs:label ?projectname . ?project foaf:depiction ?image .
      }{% endcapture %} {% assign projectList = page.rdf | sparql_query: query %}
      {% for projects in projectList %}
        {% assign url= projects.project | remove: "http://sda.tech/" %}
        <div class="chip">
          <img class="img-circle-small" src="{{projects.image}}" alt="Project" width="96" height="96">
          <a href="../../{{url}}">{{projects.projectname}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <br class="horizontal-separator"/>
</div>
<!-- NO RULE FOR LAST ELEMENT -->
{% if include.last != 1 %}
  <hr />
{% endif %}
