<div id="All" style="{% if include.active == 'All' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  {% for result in professorsArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %} {% endfor %}
  {% for result in seniorResearchersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %}{% endfor %}
  {% for result in phdStudentsArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %}{% endfor %}
  {% for result in associateResearchersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %} {% endfor %}
  {% for result in studentAssistantsArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %} {% endfor %}
  {% for result in interneesArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image fromAll=1 %} {% endfor %}
  <!-- {% for result in formerMembersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %} -->
</div>
<div id="Prof" style="{% if include.active == 'Prof' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!-- Displaying Results for Professors -->
  {% for result in professorsArray %}
  {% assign url = result.Person | remove: "http://sda.tech/" %}
  {% capture pName %}{{professorsArray.pname}}{% endcapture %}
  {% include professors.html name=result.name pname=pName  firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %}


</div>
<div id="SeniorResch" style="{% if include.active == 'SeniorResch' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!-- Displaying Results for Senior Researchers  -->
  {% for result in seniorResearchersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %}{% endfor %}
</div>
<div id="Phd" style="{% if include.active == 'Phd' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!--Display Results for Phd Students  -->
  {% for result in phdStudentsArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %}{% endfor %}
</div>
<div id="AR" style="{% if include.active == 'AR' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!--Display results for Associate Researchers  -->
  {% for result in associateResearchersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %}
</div>
<div id="SA" style="{% if include.active == 'SA' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!--Display Results for Student Assistants -->
  {% for result in studentAssistantsArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %}
</div>
<div id="Int" style="{% if include.active == 'Int' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!--Display Results for Interness -->
  {% for result in interneesArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %}
</div>
<div id="Former" style="{% if include.active == 'Former' %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
  <!--Display Results for Former Students -->
  {% for result in formerMembersArray %} {% assign url = result.Person | remove: "http://sda.tech/" %} {% include professors.html name=result.name firstname=result.fname title=result.title urlp=url status=result.status room=result.room linkedin=result.linkedin website=result.website mailto=result.mailto
  image=result.image %} {% endfor %}
</div>
