<script>
document.onreadystatechange = function(e)
{
    if (document.readyState === 'interactive')
    {
        //dom is ready, window.onload fires later
        setTitle('{{title}}', '{{site.title | escape}}');
        deactivateHeader();
        activateHeader('{{page.navigationdiv}}');

        if( getBoolFromAllToDetailPerson( ) == 'true' )
        {
          document.getElementById('allPersonHeader').style.display = 'block';
          document.getElementById('particularPersonHeader').style.display = 'none';
          document.getElementById('secondaryNavPersonAll').style.display = 'block';
          document.getElementById('secondaryNavParticularPerson').style.display = 'none';

          if(document.getElementById('allPersonHeader').style.display == 'block' && document.getElementById('particularPersonHeader').style.display )
            localStorage.setItem("boolFromAllToDetailPerson", 'false' );

        }else {
          document.getElementById('allPersonHeader').style.display = 'none';
          document.getElementById('particularPersonHeader').style.display = 'block';
          document.getElementById('secondaryNavPersonAll').style.display = 'none';
          document.getElementById('secondaryNavParticularPerson').style.display = 'block';
        }

        // Toggle functionality for Person Secondary Navigation
        var btn = document.querySelector('.toggle-menu');
        var icon = document.getElementById('persontoggleicon');
        var hint = document.getElementById('personSecondaryNav');
        var content = document.getElementById('personTableRow');
        var personTableRow = document.getElementById('personTableRow');

        var height = hint.clientHeight;
        var width = hint.clientWidth;
        var heightPerson = content.clientHeight;
        var widthTable = ( personTableRow.clientWidth * 25 ) / 100 ;


        console.log(width + 'x' + height);
        // initialize them (within hint.style)
        hint.style.height = height + 'px';
        hint.style.width = width + 'px';
        var active = document.querySelector("#person");

        btn.addEventListener('click', function(){
          if(hint.style.display == 'none'){
            hint.style.display = 'inline-block';
            //hint.style.opacity = '1';
            hint.style.height = heightPerson + 'px';
            hint.style.width = widthTable + 'px';

            active.classList.add("active-nav");
            icon.classList.add("icon-active");
            // hint.style.padding = '.5em';

          }
          else{
            hint.style.display = 'none';
            //hint.style.opacity = '0';
            hint.style.height = '0';
            hint.style.width = '0';
            // hint.style.padding = '0';
            active.classList.remove("active-nav");
            icon.classList.remove("icon-active");


          }

});
    }
};
</script>
