<script>
var btn;
// Snack Bar Call Function
function snackbarCall()
{
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

document.onreadystatechange = function(e)
{

    if ( document.readyState === 'loading' )
    {

    }

    if ( document.readyState === 'interactive' )
    {
        //dom is ready, window.onload fires later
        setTitle('{{title}}', '{{site.title | escape}}');
        deactivateHeader();
        activateHeader('{{page.navigationdiv}}');

        if( getBoolFromAllToDetailPerson( ) == 'true' )
        {
          document.getElementById('allPersonHeader').style.display = 'block';
          document.getElementById('particularPersonHeader').style.display = 'none';
          document.getElementById('secondaryNavPersonAll').style.display = 'block';
          document.getElementById('secondaryNavParticularPerson').style.display = 'none';
          document.getElementById('footer-particularPerson').style.display = 'none' ;
          document.getElementById('footer-allPerson').style.display = 'block' ;

          if(document.getElementById('allPersonHeader').style.display == 'block' && document.getElementById('particularPersonHeader').style.display )
            localStorage.setItem("boolFromAllToDetailPerson", 'false' );

        }else {
          document.getElementById('allPersonHeader').style.display = 'none';
          document.getElementById('particularPersonHeader').style.display = 'block';
          document.getElementById('secondaryNavPersonAll').style.display = 'none';
          document.getElementById('secondaryNavParticularPerson').style.display = 'block';
          document.getElementById('footer-particularPerson').style.display = 'block' ;
          document.getElementById('footer-allPerson').style.display = 'none' ;
        }

        btn = document.querySelector('.toggle-menu');
        btn.addEventListener('click', snackbarCall );

    }

    if ( document.readyState === 'complete' )
    {
      // Toggle functionality for Person Secondary Navigation
      btn.removeEventListener('click', snackbarCall ) ;
      var icon = document.getElementById('persontoggleicon');
      var hint = document.getElementById('personSecondaryNav');
      var personTableRow = document.getElementById('personTableRow');
      var active = document.querySelector("#person");
      var content = document.getElementById('person');

      var heightPerson = content.clientHeight;
      var height = hint.clientHeight;
      var width = hint.clientWidth;
      var widthTable = ( personTableRow.clientWidth * 25 ) / 100 ;
      var heightPerson = content.clientHeight;


      console.log(width + 'x' + height);
      console.log("HP", heightPerson);
      // initialize them (within hint.style)
      // hint.style.height = heightPerson + 'px';
      // hint.style.width = width + 'px';

      btn.addEventListener('click', function(){
        if( hint.style.display == 'none' ){

          active.classList.add("active-nav");
          hint.style.display = 'inline-block';
          icon.classList.add("icon-active");
          hint.style.height = heightPerson + 'px';
          hint.style.opacity = '1';
          hint.style.width = widthTable + 'px';

          heightPerson = content.clientHeight;
          hint.style.height = heightPerson + 'px' ;

        }
        else{
          hint.style.opacity = 0;
          hint.style.height = '0';
          hint.style.width = '0';

          active.classList.remove("active-nav");
          icon.classList.remove("icon-active");
          hint.style.display = 'none';
        }

      });
    }
};
</script>
