<script>
document.onreadystatechange = function(e)
{
    if ( document.readyState === 'interactive' )
    {
        //dom is ready, window.onload fires later
        setTitle('{{title}}', '{{site.title | escape}}');
        deactivateHeader();
        activateHeader('{{page.navigationdiv}}');

        if( getBoolFromAllToDetailPost() == 'true' )
        {
          document.getElementById('allPostHeader').style.display = 'block';
          document.getElementById('particularPostHeader').style.display = 'none';
          document.getElementById('footer-particularPost').style.display = 'none' ;
          document.getElementById('footer-allPost').style.display = 'block' ;

          if(document.getElementById('allPostHeader').style.display == 'block' && document.getElementById('particularPostHeader').style.display )
            localStorage.setItem("boolFromAllToDetailPost", 'false' );

        }else {
          document.getElementById('allPostHeader').style.display = 'none';
          document.getElementById('particularPostHeader').style.display = 'block';
          document.getElementById('footer-particularPost').style.display = 'block' ;
          document.getElementById('footer-allPost').style.display = 'none' ;
        }
    }
};

</script>
