{% assign count = 0 %}
{% capture query %}
# select all main Navigation position properties for counting
SELECT ?position WHERE{
    sdatech:ProjectNavigation ?positionProp ?resource .
    ?positionProp a rdfs:ContainerMembershipProperty .
    ?positionProp rdfs:label ?position .
}
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

{% for result in resultset %}
{% assign count = count | plus : 1 %}
  {% capture query2 %}
  # select menu entry for current count
  SELECT ?resource ?label ?icon WHERE{
      sdatech:ProjectNavigation ?positionProp ?resource .
      ?positionProp a rdfs:ContainerMembershipProperty .
      ?positionProp rdfs:label "{{count}}" .
      ?resource a foaf:Document .
      ?resource rdfs:label ?label .
      ?resource sda:miniIcon ?icon .
  }
  {% endcapture %}
  {% assign resultset2 = page.rdf | sparql_query: query2 %}
    {% for result2 in resultset2 %}
        {% for page in site.pages %}
            {% if page.rdf.iri == result2.resource.iri %}
              {% capture urlNav %}{{page.url}}{% endcapture %}
              {% capture navlabel%}{{result2.label}}{% endcapture %}
              {% capture icon%}{{result2.icon}}{% endcapture %}
                <a href="{{ urlNav | remove:"index.html" }}" class="{% if include.active == navlabel %}active{% endif %} responsiveTabItem" onclick="#"><i class="{{icon}}"  aria-hidden="true"></i>
                  {% if navlabel == "Projects" %}
                     All {{result2.label}}
                    {% else %}
                     {{result2.label}}
                  {% endif %}
                  <span style="color:red; font-weight:bolder; font-size:x-small; vertical-align:top;">{{include.total}}</span>
                </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

<br/>
<br/>
<hr/>
<!-- <div class="status-projects">
  <a href="#" id="all" class="{% if include.active == 'all' %}active{% endif %} responsiveTabItem" onclick="allProjectItems()"><i class="fa fa-list-alt margin-icon" aria-hidden="true"></i>
  All Projects</a>
  <a href="#" id="funded" class="{% if include.active == 'funded' %}active{% endif %} responsiveTabItem" onclick="activeFundedProjects()"><i class="fa fa-money margin-icon" aria-hidden="true"></i>
  Funded Projects</a>
  <a href="#" id="opensrc" class="{% if include.active == 'opensrc' %}active{% endif %} responsiveTabItem" onclick="activeOpenSourceProjects()"><i class="fa fa-code-fork margin-icon" aria-hidden="true"></i>
  Open Source Projects</a>
  <a href="#" id="incubators" class="{% if include.active == 'incubators' %}active{% endif %} responsiveTabItem" onclick="incubatorProjects()"><i class="fa fa-free-code-camp margin-icon" aria-hidden="true"></i>
  Incubator Projects</a>
  <a href="#" id="archprojects" class="{% if include.active == 'archprojects' %}active{% endif %} responsiveTabItem" onclick="archivedProjects()"><i class="fa fa-archive margin-icon" aria-hidden="true"></i>
  Archived Projects</a>
  <br/>
  <br/>
  <hr/>
</div> -->
