<div class="partner-item">
  <div class="partner-title">
    {% if include.fromAll == 1 %}
      {% if include.projectItemFor == "projectList" %}
        {% capture relativeUrl %}../{{include.href}}{% endcapture %}
      {% elsif include.projectItemFor== "project" %}
        {% capture relativeUrl %}{{include.href}}{% endcapture %}
      {% endif %}
      <a  onclick="setBoolFromAllToDetailProject('true', '{{relativeUrl}}' )" ><h1>{{include.title}}</h1></a>
    {% endif %}
    {% if include.fromAll != 1 && include.fromAll != 2 %}
      <a href={% if include.projectItemFor == "projectList"%}"../{{include.href}}"{% elsif include.projectItemFor== "project" %}"{{include.href}}"{% endif %} ><h1>{{include.title}}</h1></a>
    {% endif %}
    <!-- {% if include.fromAll == 2 %}
      <h1>{{include.title}}</h1>
    {% endif %} -->
  </div>
  <div class="image">
    {% if include.fromAll == 1 %}
      <a  onclick="setBoolFromAllToDetailProject('true', '{{relativeUrl}}' )" ><img style="width: 200px;" src="{{include.image}}" alt="{{iclude.title}}"></a>
    {% endif %}
    {% if include.fromAll != 1 && include.fromAll != 2 %}
      <a href={% if include.projectItemFor == "projectList"%}"../{{include.href}}"{% elsif include.projectItemFor== "project" %}"{{include.href}}"{% endif %}><img style="width: 200px;" src="{{include.image}}" alt="{{iclude.title}}"></a>
    {% endif %}
    <!-- {% if include.fromAll == 2 %}
      <img style="width: 200px;" src="{{include.image}}" alt="{{iclude.title}}">
    {% endif %} -->
  </div>
  <div class="description">
    {{include.description}}<br/>
    <div class="links">
    {% capture count %}{{include.twitter}}{% endcapture %}
    {% if count != 'undefined' %}
      <div class="chip chipNonCircleIcon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <a class="linkMarginRight" href="{{include.twitter}}" target="_blank">Twitter</a>
      </div>
    {% endif %}
    {% capture count %}{{include.homepage}}{% endcapture %}
    {% if count != 'undefined' %}
      <div class="chip chipNonCircleIcon">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a class="linkMarginRight" href="{{include.homepage}}" target="_blank">Homepage</a>
      </div>
    {% endif %}
    {% capture count %}{{include.source}}{% endcapture %}
    {% if count != 'undefined' %}
      <div class="chip chipNonCircleIcon">
        <i class="fa fa-github" aria-hidden="true"></i>
        <a class="linkMarginRight" href="{{include.source}}" target="_blank">Source</a>
      </div>
    {% endif %}
    {% capture count %}{{include.download}}{% endcapture %}
    {% if count != 'undefined' %}
      <div class="chip chipNonCircleIcon">
        <i class="fa fa-download" aria-hidden="true"></i>
        <a class="linkMarginRight" href="{{include.download}}" target="_blank">Download</a>
      </div>
    {% endif %}
  </div>
  </div>
</div>
