{% capture authorSize %}{{include.authors | size }}{% endcapture %}
{% capture title %}{{include.title}}{% endcapture %}
{% assign iterator = 1 | plus: 0 %}
<tr>
  <td>{{include.year}}</td>
  <td><a href="{% if include.url != '' and include.url != '#' %}{{include.url}}{% elsif include.url == '#' %}#{% endif %}" target="_blank" class="publink">{{include.title}}</a>
    {%  for titles in include.authorList %}
      {% capture comparasionTitle %}{{titles.title}}{% endcapture %}
      {% if comparasionTitle == title %}
          <!-- <br>TEST: {{comparasionTitle}}</br> -->
          {% if iterator == 1 %}<br/><i><b>Authors: </b></i>{% endif %}
          {% if iterator != 1 %},{% endif %} <a href="{{titles.creator}}" class="pubauthorlink" target="_blank">{{titles.name}}</a>
          {% assign iterator = iterator | plus: 1 %}
      {% endif %}{% endfor %}
      {%  for titles in include.editorList %}

        {% capture comparasionTitle %}{{titles.title}}{% endcapture %}
        {{comparasionTitle}}
        {% if comparasionTitle == title %}
            {% if iterator == 1 %}<br/><i><b>Editors: </b></i>{% endif %}
            {% if iterator != 1 %},{% endif %} <a href="{{titles.creator}}" class="pubauthorlink" target="_blank">{{titles.name}}</a>
            {% assign iterator = iterator | plus: 1 %}
        {% endif %}{% endfor %}
    <!-- <i><b>Authors: </b></i> -->
    {% capture var1 %}{{include.wherePublished | size }}{% endcapture %}
    {% capture var2 %}{{include.volume | size }}{% endcapture %}
    {% capture var3 %}{{include.pagee | size }}{% endcapture %}
    {% capture var4 %}{{include.pages | size }}{% endcapture %}
    {% capture var5 %}{{include.partOf | size }}{% endcapture %}
    {% capture var6 %}{{include.institution | size }}{% endcapture %}
    {% capture var7 %}{{include.number | size }}{% endcapture %}
    {% capture var8 %}{{include.type | size }}{% endcapture %}
    {% capture var9 %}{{include.issn | size }}{% endcapture %}
    {% capture var10 %}{{include.thesisType | size }}{% endcapture %}
    {% capture var11 %}{{include.abstract | size }}{% endcapture %}
    {% assign s = var1 | plus: 0 %}
    {% assign t = var2 | plus: 0 %}
    {% assign u = var3 | plus: 0 %}
    {% assign v = var4 | plus: 0 %}
    {% assign w = var5 | plus: 0 %}
    {% assign x = var6 | plus: 0 %}
    {% assign y = var7 | plus: 0 %}
    {% assign z = var8 | plus: 0 %}
    {% assign a = var9 | plus: 0 %}
    {% assign b = var10 | plus: 0 %}
    {% assign c = var11 | plus: 0 %}
    <!-- {% if w >= 1%}<br/><i><b>Part Of: </b></i>{{include.partOf}}{% endif %} -->
    {% if s >= 1 %}<br/><i><b>Publisher: </b></i>{{include.wherePublished}} {% endif %}
    {% if t >= 1 %}<br/><i><b>Volume Number: </b></i>{{include.volume}}{% if u > 0 and v > 0 %} <i><b>from</b></i> <i>page<i/>:{{include.pages}} to <i>page<i/>:{{include.pagee}}{% endif %}{% endif %}
    {% if y >= 1%}<br/><i><b>Report Number: </b></i>{{include.number}}{% endif %}
    {% if z >= 1%}<br/><i><b>Report Type: </b></i>{{include.type}}{% endif %}
    {% if b >= 1%}<br/><i><b>Thesis Type: </b></i>{{include.thesisType}}{% endif %}
    {% if x >= 1%}<br/><i><b>Institution: </b></i>{{include.institution}}{% endif %}
    {% if a >= 1%}<br/><i><b>Issn: </b></i>{{include.issn}}{% endif %}
    {% if c >= 1%}<br/><i><b>Abstract: </b></i>{{include.abstract}}{% endif %}
    </td>
</tr>
