{% capture authorSize %}{{include.authors | size }}{% endcapture %}
<tr>
  <td>{{include.year}}</td>
  <td><a href="{{include.url}}" target="_blank" class="publink">{{include.title}}</a> <i>by</i> {% for authors in include.authors %}<a href="{{authors.author}}" class="pubauthorlink" target="_blank">{{authors.authorname}}</a> {% capture index %}{{forloop.index}}{% endcapture %}{% if index != authorSize %},{% endif %}{% endfor %}<i>in</i> {{include.fulltitle}} - {{include.wherePublished}}</td>
</tr>
