<!--  Query to GET Article Publications -->
{% capture query %} SELECT DISTINCT ?publication ?title ?var ?year ?url ?full ?source ?partof ?volume ?pubcompany ?pages ?pagee ?issn WHERE{
  ?publication a bibo:AcademicArticle .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication dct:publisher ?pubcompany } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:source ?source } .
  OPTIONAL { ?publication dct:isPartOf ?partof } .
  OPTIONAL { ?publication bibo:volume ?volume } .
  OPTIONAL { ?publication bibo:pageStart ?pages } .
  OPTIONAL { ?publication dct:creator ?creator } .
  OPTIONAL { ?publication bibo:pageEnd ?pagee } .
  OPTIONAL { ?publication bibo:issn ?issn } .
  FILTER ( ?year >= "2015" ) .
}
ORDER BY DESC(?year)
{% endcapture %}
{% assign article = page.rdf | sparql_query: query %}

<!-- QUERY to GET Thesis Publications -->
{% capture query %} SELECT DISTINCT ?publication ?title ?school ?pubcompany ?date ?url ?full ?homepage ?thesisType ?abstract ?year ?creator ?authorname WHERE{
  ?publication a sdatech:completedThesis .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:issued ?date } .
  OPTIONAL { ?publication bibtex:school ?school } .
  OPTIONAL { ?publication foaf:homepage ?homepage } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication dct:type ?thesisType } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:abstract ?abstract } .
  OPTIONAL { ?publication dct:publisher ?pubcompany } .
  FILTER ( ?year >= "2015" ) .
}
ORDER BY DESC(?year)
{% endcapture %}
{% assign Thesis = page.rdf | sparql_query: query %}


<!--QUERY to GET ALL the Book Types  -->
{% capture query %} SELECT DISTINCT ?publication ?title ?url ?publisher ?source ?partof ?year ?volume ?pages ?pagee WHERE{
  ?publication a bibo:Book .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:source ?source } .
  OPTIONAL { ?publication dct:isPartOf ?partof } .
  OPTIONAL { ?publication dct:publisher ?publisher } .
  OPTIONAL { ?publication bibo:volume ?volume } .
  OPTIONAL { ?publication bibo:pageStart ?pages } .
  OPTIONAL { ?publication bibo:pageEnd ?pagee } .
  FILTER ( ?year >= "2015" ) .

}
ORDER BY DESC(?year)
{% endcapture %}
{% assign Book = page.rdf | sparql_query: query %}

<!--QUERY to GET ALL the Report Types  -->
{% capture query %} SELECT DISTINCT ?publication ?title ?partOf ?authorname ?year ?source ?publisher ?publicationType ?institution ?number WHERE{
  ?publication a bibo:Report .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication dct:isPartOf ?partOf } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:source ?source } .
  OPTIONAL { ?publication dct:publisher ?publisher } .
  OPTIONAL { ?publication dct:type ?publicationtType } .
  OPTIONAL { ?publication bibtex:institution ?institution } .
  OPTIONAL { ?publication bibtex:number ?number }
  FILTER ( ?year >= "2015" ) .

}
ORDER BY DESC(?year)
{% endcapture %}
{% assign Report = page.rdf | sparql_query: query %}


<!--QUERY to GET ALL the Journal Types  -->
{% capture query %} SELECT DISTINCT ?publication ?title ?author ?authorname  WHERE{
  ?publication a bibo:Journal .
  ?publication dct:title ?title .
  FILTER ( ?year >= "2015" ) .

}
ORDER BY DESC(?year)
{% endcapture %}
{% assign Journal = page.rdf | sparql_query: query %}

<!--QUERY to GET ALL the CONFERENCE PROCEEDINGS Types  -->
{% capture query %} SELECT DISTINCT ?publication ?year ?title ?partOf ?publisher WHERE{
  ?publication a bibo:Proceedings .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:source ?source } .
  OPTIONAL { ?publication dct:isPartOf ?partOf } .
  OPTIONAL { ?publication dct:publisher ?publisher } .
  FILTER ( ?year >= "2015" ) .
}
ORDER BY DESC(?year)
{% endcapture %}
{% assign Proceedings = page.rdf | sparql_query: query %}

<!--QUERY to GET ALL the Publication Types  -->
{% capture query %} SELECT DISTINCT ?publication ?year ?title ?url ?pubcompany ?source ?volume ?pages ?creator ?pagee ?issn ?publicationType ?institution ?number ?partOf  WHERE{
  ?publication a dct:BibliographicResource .
  OPTIONAL { ?publication dct:title ?title } .
  OPTIONAL { ?publication dct:hasFormat ?url } .
  OPTIONAL { ?publication dct:publisher ?pubcompany } .
  OPTIONAL { ?publication bibtex:year ?year } .
  OPTIONAL { ?publication dct:source ?source } .
  OPTIONAL { ?publication dct:isPartOf ?partof } .
  OPTIONAL { ?publication bibo:volume ?volume } .
  OPTIONAL { ?publication bibo:pageStart ?pages } .
  OPTIONAL { ?publication dct:creator ?creator } .
  OPTIONAL { ?publication bibo:pageEnd ?pagee } .
  OPTIONAL { ?publication bibo:issn ?issn } .
  OPTIONAL { ?publication dct:type ?publicationtType } .
  OPTIONAL { ?publication bibtex:institution ?institution } .
  OPTIONAL { ?publication bibtex:number ?number } .
  FILTER ( ?year >= "2015" ) .
}
ORDER BY DESC(?year)
{% endcapture %}
{% assign All = page.rdf | sparql_query: query %}

<!-- PRESENTATION OF THE PUBLICATIONS -->
{% assign count = 0 %}
{% capture query %}
# select all main Navigation position properties for counting
SELECT ?position WHERE{
    sdatech:PublicationNavigation ?positionProp ?resource .
    ?positionProp a rdfs:ContainerMembershipProperty .
    ?positionProp rdfs:label ?position .
}
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}
{% for result in resultset %}

{% assign count = count | plus : 1 %}
  {% capture query2 %}
  # select menu entry for current count
  SELECT ?resource ?label ?icon WHERE{
      sdatech:PublicationNavigation ?positionProp ?resource .
      ?positionProp a rdfs:ContainerMembershipProperty .
      ?positionProp rdfs:label "{{count}}" .
      ?resource a foaf:Document .
      ?resource rdfs:label ?label .
  }
  {% endcapture %}
  {% assign resultset2 = page.rdf | sparql_query: query2 %}
    {% for result2 in resultset2 %}
        {% for page in site.pages %}
            {% if page.rdf.iri == result2.resource.iri %}
              {% capture urlNav %}{{page.url}}{% endcapture %}
              {% capture navlabel%}{{result2.label}}{% endcapture %}
              {% capture icon%}{{result2.icon}}{% endcapture %}
                <div id="present{{navlabel}}" style="{% if include.active == navlabel %}display:inline-block{% else %}display:none{% endif %}" class="positioning-cards">
                  <!-- Present all {{navlabel}}  -->
                  <table class="flat-table flat-table-1">
                    <thead>
                      <th>Year</th>
                      <th>Publications</th>
                    </thead>
                    <tbody>
                      {% if navlabel == "Conference" %}
                        {% if article.size != 0 %}
                        <!--  Query to GET ALL the AUTHOR List for Article Type Publications -->
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a bibo:AcademicArticle .
                            ?publication dct:title ?title .
                            ?publication dct:creator ?creator .
                            ?creator foaf:name ?name .
                          }
                          {% endcapture %}
                          {% assign articleWithAuthorList = page.rdf | sparql_query: query %}
                          {% for art in article %}
                            {% capture year %}{{art.year}}{% endcapture %}
                            {% capture title %}{{art.title}}{% endcapture %}
                            {% if art.hasFormat %}
                              {% capture url %}{{art.url}}{% endcapture %}
                            {% elsif art.source %}
                              {% capture url %}{{art.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=art.title wherePublished=art.pubcompany url=url partOf=art.partof volume=art.volume pagee=art.pagee pages=art.pages authorList=articleWithAuthorList  %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Conference Proceedings" %}
                        {% if Proceedings.size != 0 %}
                        <!--  Query to GET ALL the AUTHOR List for Proceedings Type Publications -->
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a bibo:Proceedings .
                            ?publication dct:title ?title  .
                            ?publication bibo:editor ?creator .
                            ?creator foaf:name ?name  .
                          }
                          {% endcapture %}
                          {% assign proceedingsWithEditorList = page.rdf | sparql_query: query %}
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a bibo:Proceedings .
                            ?publication dct:title ?title .
                            ?publication dct:creator ?creator .
                            ?creator foaf:name ?name .
                          }
                          {% endcapture %}
                          {% assign proceedingsWithAuthorList = page.rdf | sparql_query: query %}
                          {% for proceedings in Proceedings %}
                            {% capture year %}{{proceedings.year}}{% endcapture %}
                            {% capture title %}{{proceedings.title}}{% endcapture %}
                            {% if proceedings.hasFormat %}
                              {% capture url %}{{proceedings.url}}{% endcapture %}
                            {% elsif proceedings.source %}
                              {% capture url %}{{proceedings.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=proceedings.title  partOf=proceedings.partOf wherePublished=proceedings.publisher url=url authorList=proceedingsWithAuthorList editorList=proceedingsWithEditorList  %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Book" %}
                        {% if Book.size != 0 %}
                          <!--  Query to GET ALL the AUTHOR List for Book Type Publications -->
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a bibo:Book .
                            ?publication dct:title ?title  .
                            ?publication dct:creator ?creator  .
                            ?creator foaf:name ?name  .
                          }
                          {% endcapture %}
                          {% assign bookWithAuthorList = page.rdf | sparql_query: query %}
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a bibo:Book .
                            ?publication dct:title ?title .
                            ?publication bibo:editor ?creator  .
                            ?creator foaf:name ?name  .
                          }
                          {% endcapture %}
                          {% assign bookWithEditorList = page.rdf | sparql_query: query %}
                          {% for book in Book %}
                            {% capture year %}{{book.year}}{% endcapture %}
                            {% capture title %}{{book.title}}{% endcapture %}
                            {% if book.hasFormat %}
                              {% capture url %}{{book.url}}{% endcapture %}
                            {% elsif book.source %}
                              {% capture url %}{{book.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=book.title authors=query2 wherePublished=book.var url=url volume=book.volume pagee=book.pagee pages=book.pages authorList=bookWithAuthorList editorList=bookWithEditorList %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Thesis" %}
                        {% if Thesis.size != 0 %}
                          <!--  Query to GET ALL the AUTHOR List for Book Type Publications -->
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a sdatech:completedThesis .
                            ?publication dct:title ?title  .
                            ?publication dct:creator ?creator  .
                            ?creator foaf:name ?name  .
                          }
                          {% endcapture %}
                          {% assign thesisWithAuthorList = page.rdf | sparql_query: query %}
                          {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                            ?publication a sdatech:completedThesis .
                            ?publication dct:title ?title .
                            ?publication bibo:editor ?creator  .
                            ?creator foaf:name ?name  .
                          }
                          {% endcapture %}
                          {% assign thesisWithEditorList = page.rdf | sparql_query: query %}
                          {% for thesis in Thesis %}
                            {% capture year %}{{thesis.year}}{% endcapture %}
                            {% capture title %}{{thesis.title}}{% endcapture %}
                            {% if thesis.hasFormat %}
                              {% capture url %}{{thesis.url}}{% endcapture %}
                            {% elsif thesis.source %}
                              {% capture url %}{{thesis.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=thesis.title url=url fulltitle=thesis.full issued=thesis.date thesisType=thesis.thesisType abstract=thesis.abstract authorList=thesisWithAuthorList editorList=thesisWithEditorList  %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Journal" %}
                        {% if Journal.size != 0 %}
                          {% for journal in Journal %}
                            {% capture year %}{{journal.year}}{% endcapture %}
                            {% capture title %}{{journal.title}}{% endcapture %}
                            {% if journal.hasFormat %}
                              {% capture url %}{{journal.url}}{% endcapture %}
                            {% elsif journal.source %}
                              {% capture url %}{{journal.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=journal.title wherePublished=journal.var url=url fulltitle=journal.full %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Technical Report" %}
                        {% if Report.size != 0 %}
                        <!--  Query to GET ALL the AUTHOR List for Report Type Publications -->
                        {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                          ?publication a bibo:Report .
                          ?publication dct:title ?title .
                          ?publication dct:creator ?creator .
                          ?creator foaf:name ?name .
                        }
                        {% endcapture %}
                        {% assign reportWithAuthorList = page.rdf | sparql_query: query %}
                          {% for report in Report %}
                            {% capture url %}#{% endcapture %}
                            {% capture year %}{{report.year}}{% endcapture %}
                            {% capture title %}{{report.title}}{% endcapture %}
                            {% if report.hasFormat %}
                              {% capture url %}{{report.url}}{% endcapture %}
                            {% elsif report.source %}
                              {% capture url %}{{report.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=report.title  wherePublished=report.var url=url partOf=report.partof fulltitle=report.full authorList=reportWithAuthorList institution=report.institution type=report.publicationType number=report.number  %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% elsif  navlabel == "Publications" %}
                        {% if All.size != 0 %}
                          <!--  Query to GET ALL the EDITOR List for all Publications -->
                            {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                              ?publication a dct:BibliographicResource .
                              ?publication dct:title ?title  .
                              ?publication bibo:editor ?creator .
                              ?creator foaf:name ?name .
                            }
                            {% endcapture %}
                            {% assign publicationsWithEditorList = page.rdf | sparql_query: query %}
                            <!--  Query to GET ALL the AUTHOR List for all Publications -->
                            {% capture query %} SELECT ?publication ?title ?creator ?name WHERE{
                              ?publication a dct:BibliographicResource .
                              ?publication dct:title ?title  .
                              ?publication dct:creator ?creator  .
                              ?creator foaf:name ?name  .
                            }
                            {% endcapture %}
                            {% assign publicationsWithAuthorList = page.rdf | sparql_query: query %}
                          {% for publications in All %}
                            {% capture url %}#{% endcapture %}
                            {% capture year %}{{publications.year}}{% endcapture %}
                            {% capture title %}{{publications.title}}{% endcapture %}
                            {% if publication.hasFormat %}
                              {% capture url %}{{report.url}}{% endcapture %}
                            {% elsif publication.source %}
                              {% capture url %}{{report.source}}{% endcapture %}
                            {% endif %}
                            {% include publicationRow.html year=year title=publications.title wherePublished=publications.pubcompany volume=publications.volume url=url fulltitle=publications.full pagee=publications.pagee pages=publications.pages partOf=publications.partof institution=publications.institution number=publications.number type=publications.type authorList=publicationsWithAuthorList editorList=publicationsWithEditorList %}
                          {% endfor %}
                        {% else %}
                          <p>Currently there are no {{navlabel}} publications to show.</p>
                        {% endif %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor%}
