<div class="">
    {% for items in include.listItems %}
    {% assign url= items.blog | remove: "http://sda.tech/" %}
    {% capture itemName %}{{items.title}}{% endcapture %}
    <div class="cell {% if  include.name == itemName %}cell-active{% endif %}">
        <div class="cell-img">
          {% if include.fromAll == 1 %}
            <a onclick="setBoolFromAllToDetailProject('true', '../../{{url}}' )"><img class="img-circle-small" src="{{items.image}}" alt=""></a>
          {% endif %}
          {% if include.fromAll != 1 %}
            <a href="../../{{include.url}}"><img class="img-circle-small" src="{{items.image}}" alt=""></a>
          {% endif %}
        </div>
        <div class="cell-title">
          {% if include.fromAll == 1 %}
            <a onclick="setBoolFromAllToDetailProject('true', '../../{{url}}' )" ><h2>{{items.title}}</h2></a>
          {% endif %}
          {% if include.fromAll != 1 %}
            <a href="../../{{url}}"><h2>{{items.title}}</h2></a>
          {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
