{% capture query %} SELECT ?course ?short ?name ?desc ?id ?page ?semester ?year ?sdate ?edate WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course dct:title ?name . ?course ex:description ?desc . ?course sda:id ?id . ?course foaf:homepage ?page . ?course sda:semester ?semester . ?course sda:year ?year . } order by asc(str(?id)) {% endcapture %} {% assign resultset = page.rdf | sparql_query: query%}
    {% capture querytwo %} SELECT ?course ?short ?id ?semester ?year ?maintainer ?image ?name WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course sda:id ?id . ?course sda:maintainer ?maintainer . ?maintainer foaf:name ?name . OPTIONAL { ?maintainer foaf:depiction ?image } . ?course sda:semester ?semester . ?course sda:year ?year . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: querytwo %}
{% assign currentYear = 2018 %}
{% assign currentSemester = "Summer" %}
<div class="course-items content-people clear-padding">
  <div id="guidelines" style="{% if include.active == 'courseguide' %}display:block{% else %}display:none{% endif %}">
    {% include courseGuidelines.html %}
  </div>
  <div id="winterCourses" style="{% if include.active == 'winter' %}display:block{% else %}display:none{% endif %}">
    {% if resultset.size != 0  %}
        <div class="content-title">
          <h2>Winter Semester Courses</h2>
        </div>
        {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}{% if currentSemester == "Summer" %}{% assign year = year | plus: 1 %}{% endif %}{% if year == currentYear %}{% if semester == "Winter" %}
        <div  class="partner-item">
          <div class="partner-title">
            {% assign content = result.desc | strip_newlines %}
            {% if {{url}} == {{site.url}} %} {{result.name}} {% else %}
               <a href="{{url}}/"><h1>{{result.name}}</h1></a>
            {% endif %}
          </div>
          <div class="image">
            <div class="course-title">
              <a href="{{url}}/">{{short}}</a><br>
              <a href="{{url}}/">{{result.id}}</a>
              <p>{{year}}</p>
            </div>
          </div>
          <div class="description">
            {% if content != "" %}{{result.desc}}{% endif %}<br>
            <div class="membersofProject projectInPartners">
              {% assign counter = 0 %}
              {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% if currentSemester == "Summer" %}{% assign year2 = year2 | plus: 1 %}{% endif %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% if semester == semester2 %}{% if year == year2 %} {% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% assign counter = counter | plus:1 %}
              <div class="chip">
                <img  class="img-circle-small" src="{{result2.image}}"  width="96" height="96">
                <a href="../../{{url}}">{{result2.name}}</a>
              </div>
              {% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
            </div>
          </div>

        </div>
         {% endif %} {% endif %}{% endfor %}
      {% else %}
        <!-- TODO: Update this based on results for particular tab or not and update it also for the next two tabs -->
        <div class="content-title">
          <h2>Winter Semester Courses</h2>
        </div>
        <div class="content-empty">
          <!--Folder Image From(folder.png): https://www.flaticon.com/free-icon/folder_148963#term=folder&page=1&position=32  -->
          <img src="/assets/images/extras/folder.png" alt=""><br>
          <p>Currently there are no <strong>Courses</strong> to show.</p>
        </div>
      {% endif %}
  </div>
  <div id="summerCourses" style="{% if include.active == 'summer' %}display:block{% else %}display:none{% endif %}">
    <div class="content-title">
      <h2>Summer Semester Courses</h2>
    </div>
    {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}{% if year == currentYear %}{% if semester == "Summer" %}
    <div  class="partner-item">
      <div class="partner-title">
        {% assign content = result.desc | strip_newlines %}
        {% if {{url}} == {{site.url}} %} {{result.name}} {% else %}
           <a href="{{url}}/"><h1>{{result.name}}</h1></a>
        {% endif %}
      </div>
      <div class="image">
        <div class="course-title">
          <a href="{{url}}/">{{short}}</a><br>
          <a href="{{url}}/">{{result.id}}</a>
          <p>{{year}}</p>
        </div>
      </div>
      <div class="description">
        {% if content != "" %}{{result.desc}}{% endif %}<br>
        <div class="membersofProject projectInPartners">
          {% assign counter = 0 %}
            {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% if semester2 == semester %}{% if year2 == year %}{% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% if counter != 0 %} {% endif %}{% assign counter = counter | plus:1 %}
          <div class="chip">
            <img  class="img-circle-small" src="{{result2.image}}"  width="96" height="96">
            <a href="../../{{url}}">{{result2.name}}</a>
          </div>
          {% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
        </div>
      </div>
    </div>
     {% endif %} {% endif %}{% endfor %}
  </div>
  <div id="allCourses" style="{% if include.active == 'old' %}display:block{% else %}display:none{% endif %}">
    <div class="content-title">
      <h2>Earlier Semester Courses</h2>
    </div>
    {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}
    <div  class="partner-item">
      <div class="partner-title">
        {% assign content = result.desc | strip_newlines %}
        {% if {{url}} == {{site.url}} %} {{result.name}} {% else %}
           <a href="{{url}}/"><h1>{{result.name}}</h1></a>
        {% endif %}
      </div>
      <div class="image">
        <div class="course-title">
          <a href="{{url}}/">{{short}}</a><br>
          <a href="{{url}}/">{{result.id}}</a>
          <p>{{year}}</p>
        </div>
      </div>
      <div class="description">
        {% if content != "" %}{{result.desc}}{% endif %}<br>
        <div class="membersofProject projectInPartners">
          {% assign counter = 0 %}
          {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% if year2 == year %}{% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% assign counter = counter | plus:1 %}
            <div class="chip">
              <img  class="img-circle-small" src="{{result2.image}}"  width="96" height="96">
              <a href="../../{{url}}">{{result2.name}}</a>
            </div>
        {% endif %}{% endif %}{% endif %}{% endfor %}
        </div>
      </div>
    </div>
     {% endfor %}
  </div>
</div>
