{% capture query %} SELECT ?course ?short ?name ?desc ?id ?page ?semester ?year WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course dct:title ?name . ?course ex:description ?desc . ?course sda:id ?id . ?course foaf:homepage ?page . ?course sda:semester ?semester . ?course sda:year ?year . } order by asc(str(?id)) {% endcapture %} {% assign resultset = page.rdf | sparql_query: query%}
    {% capture querytwo %} SELECT ?course ?short ?id ?semester ?year ?maintainer ?name WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course sda:id ?id . ?course sda:maintainer ?maintainer . ?maintainer foaf:name ?name . ?course sda:semester ?semester . ?course sda:year ?year . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: querytwo %}
{% assign currentYear = 2018 %}
{% assign currentSemester = "Summer" %}
<div class="course-items">
  <div id="guidelines" style="{% if include.active == 'courseguide' %}display:block{% else %}display:none{% endif %}">
    {% include courseGuidelines.html %}
  </div>

  <div id="winterCourses" style="{% if include.active == 'winter' %}display:block{% else %}display:none{% endif %}">
    {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}{% if currentSemester == "Summer" %}{% assign year = year | plus: 1 %}{% endif %}{% if year == currentYear %}{% if semester == "Winter" %}
    <div  class="courseLink course-list">
      <ul>
        {% assign content = result.desc | strip_newlines %}
        <li style="text-align: left;">
          {% if {{url}} == {{site.url}} %} {{result.name}} {% else %}
             <a href="{{url}}/">{{result.name}}</a>
          {% endif %} - {{result.id}} {% if content != "" %}<br><i>{{result.desc}}</i>{% endif %}<br>
        {% assign counter = 0 %}
        {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% if currentSemester == "Summer" %}{% assign year2 = year2 | plus: 1 %}{% endif %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% if semester == semester2 %}{% if year == year2 %} {% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% if counter != 0 %}, {% endif %}{% assign counter = counter | plus:1 %}<a href="../../{{url}}">{{result2.name}}</a>
        {% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
        </li>
      </ul>
    </div>
     {% endif %} {% endif %}{% endfor %}
  </div>
  <div id="summerCourses" style="{% if include.active == 'summer' %}display:block{% else %}display:none{% endif %}">
    {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}{% if year == currentYear %}{% if semester == "Summer" %}
    <div  class="courseLink course-list">
      <ul>
        {% assign content = result.desc | strip_newlines %}
        <li style="text-align: left;">
          {% if {{url}} == {{site.url}} %} {{.name}} {% else %}
             <a href="{{url}}/">{{result.name}}</a>
          {% endif %} - {{result.id}} {% if content != "" %}<br><i>{{result.desc}}</i>{% endif %}<br>
        {% assign counter = 0 %}
        {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% if semester2 == semester %}{% if year2 == year %}{% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% if counter != 0 %}, {% endif %}{% assign counter = counter | plus:1 %}<a href="../../{{url}}">{{result2.name}}</a>
        {% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
        </li>
      </ul>
    </div>
     {% endif %} {% endif %}{% endfor %}
  </div>
  <div id="allCourses" style="{% if include.active == 'old' %}display:block{% else %}display:none{% endif %}">
    {% for result in resultset %} {% assign url = result.page %}{% capture short %}{{result.short}}{% endcapture %}{% capture id %}{{result.id}}{% endcapture %}{% capture year %}{{result.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture semester %}{{result.semester}}{% endcapture %}
    <div  class="courseLink course-list">
      <ul>
        {% assign content = result.desc | strip_newlines %}
        <li style="text-align: left;">
          {% if {{url}} == {{site.url}} %} {{result.name}} {% else %}
             <a href="{{url}}/">{{result.name}}</a>
          {% endif %} - {{result.id}} {% if content != "" %}<br><i>{{result.desc}}</i>{% endif %}<br>
        {% assign counter = 0 %}
        {% for result2 in resultset2 %} {% capture short2 %}{{result2.short}}{% endcapture %}{% capture semester2 %}{{result2.semester}}{% endcapture %}{% capture year2 %}{{result2.year}}{% endcapture %}{% assign year2 = year2 | plus: 0 %}{% capture id2 %}{{result2.id}}{% endcapture %} {% if id2 == id %}{% if short2 == short %}{% assign url= result2.maintainer | remove: "http://sda.tech/" %}{% if counter != 0 %}, {% endif %}{% assign counter = counter | plus:1 %}<a href="../../{{url}}">{{result2.name}}</a>
        {% endif %}{% endif %}{% endfor %}
        </li>
      </ul>
    </div>
     {% endfor %}
  </div>
</div>
