<div class="course-section">
  <a href="#" id="courseguide" class="{% if include.active == 'courseguide' %}active{% endif %} responsiveTabItem" onclick="activeGeneralGuide()"><i class="fa fa-th-list margin-icon" aria-hidden="true"></i>
  General Guidelines</a>
  <a href="#" id="winter" class="{% if include.active == 'winter' %}active{% endif %} responsiveTabItem" onclick="activeWinterCourses()"><i class="fa fa-cloud margin-icon" aria-hidden="true"></i>
  Winter Semester 2017/18</a>
  <a href="#" id="summer" class="{% if include.active == 'summer' %}active{% endif %} responsiveTabItem" onclick="activeSummerCourses()"><i class="fa fa-fire margin-icon" aria-hidden="true"></i>
  Summer Semester 2018</a>
  <a href="#" id="old" class="{% if include.active == 'old' %}active{% endif %} responsiveTabItem" onclick="allOldCourses()"><i class="fa fa-archive margin-icon" aria-hidden="true"></i>
  Old Courses</a>
  <br/>
  <br/>
  <hr/>
  <br class="horizontal-separator2" />
</div>
