<script>

  function activeFundedProjects() {
    document.getElementById('fundedProjects').style.display = 'block';
    document.getElementById('funded').classList.add('active');
    document.getElementById('openSourceProjects').style.display = 'none';
    document.getElementById('opensrc').classList.remove('active');
    document.getElementById('incubatorProjects').style.display = 'none';
    document.getElementById('incubators').classList.remove('active');
    document.getElementById('archProjectList').style.display = 'none';
    document.getElementById('archprojects').classList.remove('active');
    document.getElementById('allProjects').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    history.pushState(null, null, '/fundedprojects/');

  }

  function activeOpenSourceProjects() {
    document.getElementById('fundedProjects').style.display = 'none';
    document.getElementById('funded').classList.remove('active');
    document.getElementById('openSourceProjects').style.display = 'block';
    document.getElementById('opensrc').classList.add('active');
    document.getElementById('incubatorProjects').style.display = 'none';
    document.getElementById('incubators').classList.remove('active');
    document.getElementById('archProjectList').style.display = 'none';
    document.getElementById('archprojects').classList.remove('active');
    document.getElementById('allProjects').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    history.pushState(null, null, '/opensourceprojects/');
  }

  function incubatorProjects() {
    document.getElementById('fundedProjects').style.display = 'none';
    document.getElementById('funded').classList.remove('active');
    document.getElementById('openSourceProjects').style.display = 'none';
    document.getElementById('opensrc').classList.remove('active');
    document.getElementById('incubatorProjects').style.display = 'block';
    document.getElementById('incubators').classList.add('active');
    document.getElementById('archProjectList').style.display = 'none';
    document.getElementById('archprojects').classList.remove('active');
    document.getElementById('allProjects').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    history.pushState(null, null, '/incubatorprojects/');
  }

  function archivedProjects() {
    document.getElementById('fundedProjects').style.display = 'none';
    document.getElementById('funded').classList.remove('active');
    document.getElementById('openSourceProjects').style.display = 'none';
    document.getElementById('opensrc').classList.remove('active');
    document.getElementById('incubatorProjects').style.display = 'none';
    document.getElementById('incubators').classList.remove('active');
    document.getElementById('archProjectList').style.display = 'block';
    document.getElementById('archprojects').classList.add('active');
    document.getElementById('allProjects').style.display = 'none';
    document.getElementById('all').classList.remove('active');
    history.pushState(null, null, '/archivedprojects/');
  }

  function allProjectItems() {
    document.getElementById('fundedProjects').style.display = 'none';
    document.getElementById('funded').classList.remove('active');
    document.getElementById('openSourceProjects').style.display = 'none';
    document.getElementById('opensrc').classList.remove('active');
    document.getElementById('incubatorProjects').style.display = 'none';
    document.getElementById('incubators').classList.remove('active');
    document.getElementById('archProjectList').style.display = 'none';
    document.getElementById('archprojects').classList.remove('active');
    document.getElementById('allProjects').style.display = 'block';
    document.getElementById('all').classList.add('active');
    history.pushState(null, null, '/project/');

  }

</script>
