<script>
  function changeActiveGroups(name) {
    clearAllGroupTypes();
    clearAllGroupTabs();

    if (name == "{{site.data.groupTypes[0].name}}") {
      document.getElementById('dsa').style.display = 'inline-block';
      document.getElementById('DistributedSemanticAnalytics').classList.add('active');
      history.pushState(null, null, '/Group/DistributedSemanticAnalytics/');
    } else if (name == "{{site.data.groupTypes[1].name}}") {
      document.getElementById('sqa').style.display = 'inline-block';
      document.getElementById('SemanticQuestionAnswering').classList.add('active');
      history.pushState(null, null, '/Group/SemanticQuestionAnswering/');
    } else if (name == "{{site.data.groupTypes[2].name}}") {
      document.getElementById('sml').style.display = 'inline-block';
      document.getElementById('StructuredMachineLearning').classList.add('active');
      history.pushState(null, null, '/Group/StructuredMachineLearning/');
    } else if (name == "{{site.data.groupTypes[3].name}}") {
      document.getElementById('sdm').style.display = 'inline-block';
      document.getElementById('SemanticDataManagement').classList.add('active');
      history.pushState(null, null, '/Group/SemanticDataManagement/');
    } else if (name == "{{site.data.groupTypes[4].name}}") {
      document.getElementById('seds').style.display = 'inline-block';
      document.getElementById('SoftwareEngineeringforDataScience').classList.add('active');
      history.pushState(null, null, '/Group/SoftwareEngineeringForDataScience/');
    } else if (name == "{{site.data.groupTypes[5].name}}") {
      document.getElementById('sms').style.display = 'inline-block';
      document.getElementById('SmartServices').classList.add('active');
      history.pushState(null, null, '/Group/SmartServices/');
    } else
      console.log("Invalid People Type Name");
  }

  function clearAllGroupTypes() {
    document.getElementById('dsa').style.display = 'none';
    document.getElementById('sqa').style.display = 'none';
    document.getElementById('sml').style.display = 'none';
    document.getElementById('sdm').style.display = 'none';
    document.getElementById('seds').style.display = 'none';
    document.getElementById('sms').style.display = 'none';
  }

  function clearAllGroupTabs() {
    document.getElementById('DistributedSemanticAnalytics').classList.remove('active');
    document.getElementById('SemanticQuestionAnswering').classList.remove('active');
    document.getElementById('StructuredMachineLearning').classList.remove('active');
    document.getElementById('SemanticDataManagement').classList.remove('active');
    document.getElementById('SoftwareEngineeringforDataScience').classList.remove('active');
    document.getElementById('SmartServices').classList.remove('active');
  }
</script>
