<script>
  function activeSummerCourses() {
    document.getElementById('summerCourses').style.display = 'block';
    document.getElementById('summer').classList.add('active');
    document.getElementById('winterCourses').style.display = 'none';
    document.getElementById('winter').classList.remove('active');
    document.getElementById('allCourses').style.display = 'none';
    document.getElementById('old').classList.remove('active');
    document.getElementById('guidelines').style.display = 'none';
    document.getElementById('courseguide').classList.remove('active');
    history.pushState(null, null, '/ss/');
  }

  function activeWinterCourses() {
    document.getElementById('summerCourses').style.display = 'none';
    document.getElementById('summer').classList.remove('active');
    document.getElementById('winterCourses').style.display = 'block';
    document.getElementById('winter').classList.add('active');
    document.getElementById('allCourses').style.display = 'none';
    document.getElementById('old').classList.remove('active');
    document.getElementById('guidelines').style.display = 'none';
    document.getElementById('courseguide').classList.remove('active');
    history.pushState(null, null, '/ws/');

  }

  function allOldCourses() {
    document.getElementById('summerCourses').style.display = 'none';
    document.getElementById('summer').classList.remove('active');
    document.getElementById('winterCourses').style.display = 'none';
    document.getElementById('winter').classList.remove('active');
    document.getElementById('allCourses').style.display = 'block';
    document.getElementById('old').classList.add('active');
    document.getElementById('guidelines').style.display = 'none';
    document.getElementById('courseguide').classList.remove('active');
    history.pushState(null, null, '/archivedcourses/');

  }

  function activeGeneralGuide(){
    document.getElementById('summerCourses').style.display = 'none';
    document.getElementById('summer').classList.remove('active');
    document.getElementById('winterCourses').style.display = 'none';
    document.getElementById('winter').classList.remove('active');
    document.getElementById('allCourses').style.display = 'none';
    document.getElementById('old').classList.remove('active');
    document.getElementById('guidelines').style.display = 'block';
    document.getElementById('courseguide').classList.add('active');
    history.pushState(null, null, '/courseguidelines/');

  }

</script>
