.flat-table {
		/* margin: 16px; */
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 1px;
               -webkit-border-radius: 1px;
               -moz-border-radius: 1px;
		min-width: 100%;
	}
	.flat-table th, .flat-table td {
		/* box-shadow: inset 0 -1px rgba(0,0,0,0.25),
			inset 0 1px rgba(0,0,0,0.25); */
      /* border-bottom: 1px solid #e0e0e0; */

	}
	.flat-table th {
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		padding: 1em;
		color: white;
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.0em;
    background-color: #9E9E9E;
    text-align: left;
	}
	.flat-table td {
		color: #616161;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 0.8em;
		text-align: left;
	}
	.flat-table tr {
		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
	.flat-table-1 {
		background: #fff;
	}
	.flat-table-1 tr:hover {
		background: rgba(0,0,0,0.1);
	}
