---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Blog
---

<script>
setTitle('blogpost', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% capture query %} SELECT ?title ?creator ?date ?image ?abstract ?content WHERE{ ?blog a sioc:Post . ?blog dct:title ?title . ?blog dct:creator ?creator . ?blog dct:created ?date . ?blog foaf:depiction ?image . ?blog dct:abstract ?abstract . ?blog sioc:content ?content .} {% endcapture %} {% assign blogposts = page.rdf | sparql_query: query %}
<div class="scrollmenu">
  {% for post in blogposts %}
    <div class="links">
      <a href="../../Person/JensLehmann"><img src="{{post.image}}" style="height:150px;width:200px;"><br/><br/>
      <div style="text-align:center;width:200px;"><p style="color:#000000;word-wrap:break-word;"><span>{{post.title}}</span></p></div></a>
    </div>
  {% endfor %}
</div>

<br class="horizontal-separator2" />
<br class="horizontal-separator2" />

{% for post in blogposts %}
  <div style="width:90%;padding-left:25px;padding-right:25px;">
    <p style="text-align:center;"><font size="5">{{post.title}}</font></p>
    <time class="published" datetime="2018-10-17T09:24:07+00:00">17 October 2018</time>
    <br/>
    <p><img src="{{post.image}}" style="float:left;height:150px;width:200px;padding:30px;">{{post.content}}</p>
    <br/><hr style="text-align:center;">
  </div>
  <hr style="width:100%;background:transparent;">
  <br class="horizontal-separator2" />
{% endfor %}
