---
rdf_prefix_path: sda.tech.pref
navigationdiv: About
---
<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink" lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}
<script>
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>
<body>
  {% include rootHead.html %}
  {% include header.html %}
  <br class="horizontal-separator-fixed" />
  <br class="horizontal-separator" />
  <main class="page-content" aria-label="Content">

    <div class="wrapper wrapper-content">
      {{ content }}
    </div>
    {% include bodyFab.html %}
  </main>
  {% include footer.html %} {% include foot.html %}

  <script type="text/javascript" src="{{ "/assets/heatMapTechnologies.js" | relative_url }}"></script>
</body>

</html>
