---
rdf_prefix_path: sda.tech.pref
layout: default
toggledURLTo: /Group/DistributedSemanticAnalytics/
toggleOnDiv: dsa
navigationdiv: Groups
---

<script>
setTitle('Groups', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <article class="post">
  <!--  {% include toggleInitialPageLink.html div=page.toggleOnDiv linkto=page.toggledURLTo %} -->
  <!--  {% include toggleGroupTypes.html %}-->
    <div class="pagination">
      <!--QUERY to GET all the GROUP Items  -->
      {% capture query %} SELECT ?group ?name ?desc ?imageclass ?shortcut WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group dct:description ?desc . ?group sda:imageclass ?imageclass . ?group sda:shortcut ?shortcut . } {% endcapture %} {% assign resultset = page.rdf | sparql_query: query
      %}
      <!-- Paginating logic for all the GROUPS -->
      {% assign count = 1 %}
      {% for result in resultset %}{% assign class = "responsiveTabItem" %}
      {% capture shortcut %}{{result.shortcut}}{% endcapture %} {% if shortcut == "dsa" %}{% assign class = "active responsiveTabItem" %}{% endif %}
      {% capture groupname %}{{result.name}}{% endcapture %}
      {% assign url = result.group | remove: "http://sda.tech/"  %}
      <a href="../{{url}}" id="{{groupname | remove: " " }}" class="{{class}}" >
            <i class="{{result.imageclass}} margin-icon"></i>
           {{groupname}}</a>{% assign count = count | plus:1 %} {% if count == 4 %}
      <br class="breakpoint-pagination"/><br class="breakpoint-pagination"/> {% endif %} {% endfor %}
      <br/>
      <br/>
      <hr class="ruleh" /></div>
  {% for result in resultset %} {% capture name %}{{result.name}}{% endcapture %}
  {% capture querytwo %} SELECT ?group ?project ?name ?nameproject ?image WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group foaf:currentProject ?project . ?project rdfs:label ?nameproject . ?project foaf:depiction ?image . } {%
  endcapture %} {% assign
  resultset2 = page.rdf | sparql_query: querytwo %} {% capture querythree %} SELECT ?group ?project ?name ?person ?nameperson ?image WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group foaf:member ?person . ?person foaf:name
  ?nameperson
  . ?person foaf:depiction ?image . } {% endcapture %} {% assign resultset3 = page.rdf | sparql_query: querythree %}
  {% capture queryfour %} SELECT ?group ?name ?publication ?title ?date ?publisher ?link WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group sda:publication ?publication . ?publication dc:title ?title
  . ?publication dc:date ?date . ?publication dc:publisher ?publisher . ?publication foaf:homepage ?link . } {% endcapture %} {% assign resultset4 = page.rdf | sparql_query: queryfour %}
  {% capture query %} SELECT ?group ?name ?leader ?leadername ?leaderimage WHERE{
  ?group a aiiso:ResearchGroup . ?group rdfs:label ?name . ?group dbo:leader ?leader . ?leader foaf:name ?leadername . ?leader foaf:depiction ?leaderimage} {% endcapture %} {% assign resultset5 = page.rdf | sparql_query: query %}
  {% assign visible = "none" %} {% capture shortcut %}{{result.shortcut}}{% endcapture %} {% if shortcut == "dsa" %} {% assign visible = "inline-block" %}{% endif %}  <div id="{{shortcut}}" class="content-people" style="display:{{visible}}">
        <div class="post-content">
          <div>
            <div class="container">
              <br/>
              <h2 style="text-align:center;"><i class="{{result.imageclass}}"></i> {{result.name}}</h2>
              <br class="horizontal-separator" />
              <p>{{result.desc}}</p>
              <br class="horizontal-separator" />
              <br class="horizontal-separator" />
              <div class="members-projects">
                <h4>Leaders</h4>
                <div class="membersofProject">
                  {% for result5 in resultset5 %} {% capture groupname %}{{result5.name}}{% endcapture %} {% if groupname == name %} {% assign url= result5.leader | remove: "http://sda.tech/" %}
                  <div class="chip">
                    <img class="img-circle-small" src="{{result5.leaderimage}}" width="96" height="96">
                    <a href="../../{{url}}">{{result5.leadername}}</a>
                  </div>
                  {% endif %} {% endfor %}
                </div>
              </div>
              <br class="horizontal-separator2" />
              <h4>Group Members</h4>
              <div class="membersofProject">
                {% capture groupMainTitle %}{{result.name}}{% endcapture %}
                {% capture query %} SELECT ?person ?personname ?image ?group ?groupname Where {
                  ?person a foaf:Person . OPTIONAL { ?person foaf:name ?personname } . OPTIONAL { ?person foaf:depiction ?image } .  ?person sda:group ?group . ?group  rdfs:label ?groupname .
                } {% endcapture %} {% assign groupmembers = page.rdf | sparql_query: query %}
                {% for person in groupmembers %}
                  {% capture groupTitle %}{{person.groupname}}{% endcapture %}
                  {% if groupMainTitle == groupTitle %}
                    {% assign url= person.person | remove: "http://sda.tech/" %}
                    <div class="chip">
                      <img  class="img-circle-small" src="{{person.image}}"  width="96" height="96">
                      <a href="../../{{url}}">{{person.personname}}</a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <br class="horizontal-separator" />
              <br class="horizontal-separator2" />
              <h4>Projects</h4>
              <div class="partnersOfProject">
                {% for result2 in resultset2 %} {% capture groupname %}{{result2.name}}{% endcapture %} {% if groupname == name %} {% assign url= result2.project | remove: "http://sda.tech/" %}
                <div class="chip">
                  <img class="img-circle-small" src="{{result2.image}}" width="96" height="96">
                  <a href="../../{{url}}">{{result2.nameproject}}</a>
                </div>
                {% endif %} {% endfor %}
              </div>

              <br class="horizontal-separator" />
              <br class="horizontal-separator2" />
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </article>
  <br class="horizontal-separator" />
</div>
