---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: About
---

<script>
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="home">
    <header class="post-header">
      <h1 class="post-title">{{ site.title | escape }}</h1>
    </header>
    <!-- Query to Get the department leaders ?Person dbo:leader ?leader . -->
    {% capture query %} SELECT ?Person ?name ?leader WHERE{ ?Person a foaf:Person . ?Person foaf:name ?name .  } {% endcapture %} {% assign resultset = page.rdf | sparql_query: query %}
    <div class="post-content main-description">
      The
      <b>{{site.titleWithAcronym}}</b> research group, led by <a href="{{site.leaderHomePage}}">{{site.leader}}</a>
          has members from the <a href="{{site.eisHomePage}}">{{site.eisName}}</a> at the
          <a href="{{site.uniBonnHomePage}}">{{site.uniBonnName}}</a>, the
          <a href="{{site.fraunhoferHomePage}}">{{site.fraunhoferDepartmentName}}</a> and the
          <a href="{{site.LeipzigHomePage}}">{{site.leipzigDepName}}</a>. At its core, the group investigates machine learning techniques ("analytics") using
          structured knowledge ("smart data"). The group aims at covering the full spectrum of research including theoretical
          foundations, algorithms, prototypes and industrial applications.
    </div>
    <div class="main-slider">
      {% include slider.html %}
    </div>
  <div class="warp">
    <!--Query to GET all the groupnames and metaInformation  -->
    {% capture query %} SELECT ?group ?description ?imageclass ?longdescription WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?description . ?group dct:abstract ?longdescription.  ?group sda:imageclass ?imageclass . } {% endcapture %} {% assign groups = page.rdf | sparql_query: query %}
    <!--Query to GET associated leaders with the Groupnames-->
    {% capture query %} SELECT ?group ?description ?leader ?leadername ?leaderimage WHERE{ ?group a aiiso:ResearchGroup . ?group rdfs:label ?description .  optional { ?group dbo:leader ?leader }. optional { ?leader foaf:name ?leadername }. optional { ?leader  foaf:depiction ?leaderimage }. } {% endcapture %} {% assign groupsWithdbo = page.rdf | sparql_query: query %}
    <header class="post-header">
      <h2 class="post-title post-title-secondary">Specialized Groups Working under SDA</h2>
    </header>
    {% for group in groups %} {% assign url= group.group | remove: "http://sda.tech/" %} {% capture imageClass %}{{group.imageclass}}{% endcapture %} {% capture name %}{{group.description}}{% endcapture %} {% capture longdescription %}{{group.longdescription}}{% endcapture %}  {% capture leader %}{{group.leadername}}{% endcapture %} {% assign
    image=imageClass | append:' fa-3x' %}
    <div class="groupCard">
      <div class="groupImage">
        <div>
          <a href="../{{url}}"><i class="{{image}}"></i></a>
          <br/><br/>
          <a href="../{{url}}"><h3>{{group.description}}</h3></a>
        </div>
      </div>
      <div class="groupName">
        <div class="groupAbstract">
          <h4>{{group.longdescription}}</h4>
        </div>
        <br/>
        <div class="groupLeaders">
            <h3 style="text-align:left;color:#424242;margin-left:24px;">Group Leader</h3>
            {% for leaders in groupsWithdbo %}
              {% capture nameInDbo %}{{leaders.description}}{% endcapture %}
                {% if name == nameInDbo  %}
                  <div class="chip chipForSmall">
                    {% assign url= leaders.leader | remove: "http://sda.tech/" %}
                      <!-- <a href="../Person/{{url}}" alt="Person" width="96" height="96">{{group.leadername}}</a> -->
                    <img class="img-circle-small" src="{{leaders.leaderimage}}" width="96" height="96"><a href="../{{url}}">{{leaders.leadername}}</a>
                  </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="section-break">
  </div>
  <div class="">
    <header class="post-header">
      <h2 class="post-title post-title-secondary">Keep Connected with Our Posts</h2>
    </header>
    <div class="blogAndTweet" style="max-height: 1000px;">
      <div class="twoCol1">
        <!-- using the split filter -->
        <div class="blogHead">
          <h1>Blog Posts</h1>
        </div>
        <div class="scroll">
          {% capture query %} SELECT ?blog ?title ?creator ?date ?image ?content WHERE{ ?blog a sioc:Post . ?blog dct:title ?title . ?blog dct:creator ?person . ?person foaf:name ?creator . ?blog dct:created ?date . ?blog foaf:depiction ?image  . ?blog sioc:abstract ?content .} ORDER BY DESC(?date) {% endcapture %} {% assign blogposts = page.rdf | sparql_query: query %}
          {% for post in blogposts %}
          {% assign url= post.blog | remove: "http://sda.tech/" %}
          <div class="blogItem">
            <h2><a href="../../{{url}}">{{ post.title }}</a></h2>
              <small><span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span></small>
              {{ post.content }}
              <a href="../../{{url}}">Read more</a>
            </li>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="twoCol2">
        <div class='jekyll-twitter-plugin' style="max-height: 1000px; overflow-y: scroll;">
          {% twitter https://twitter.com/sda_research maxwidth=500 align=right link-color=#0896fe %}
        </div>
      </div>
    </div>
  </div>
  <div class="section-break">

  </div>
  <div class="pagination-footer">
  </div>
</div>
