---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Jobs
---
{% capture desc %}{{ page.rdf | rdf_property: 'ex:description'}}{% endcapture %}
{% capture req %}{{ page.rdf | rdf_property: 'sda:requirements'}}{% endcapture %}
{% capture exp %}{{ page.rdf | rdf_property: 'sda:experience'}}{% endcapture %}
{% capture expect %}{{ page.rdf | rdf_property: 'sda:expected'}}{% endcapture %}
{% capture offer %}{{ page.rdf | rdf_property: 'sda:offer'}}{% endcapture %}

{% if exp != "undefined" %}
    {% assign expList = exp | split: ' | ' %}
{% endif %}

{% if req != "undefined" %}
    {% assign reqList = req | split: ' | ' %}
{% endif %}

{% if expect != "undefined" %}
    {% assign expectList = expect | split: ' | ' %}
{% endif %}

{% if offer != "undefined" %}
    {% assign offerList = offer | split: ' | ' %}
{% endif %}


{% capture title %} {{ page.rdf | rdf_property: 'dct:title' }} {% endcapture %}
{% assign title = title | strip %}

<script>
setTitle('{{title}}', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <article class="post">
    <div class="job-contents content-people">
      <div class="jobDescription"style="display:block">
      <h2 style="text-align:center;">{{ page.rdf | rdf_property: 'dct:title'}}</h2>
      <br class="horizontal-separator" />
      {% if desc != "undefined" %}<div class="shortDescJob">
        <p>ATTENTION: We are no longer offering this Position!</p>
        <p>{{desc}}</p>
      </div>{% endif %}

      {% unless req == "undefined" %}
      <br class="horizontal-separator" />
      <div class="requirementsJob">
        <h3>Requirements</h3>
        <ul class="reuirementsList">
          {% for point in reqList %}
              <li>{{point}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endunless %}

      {% unless exp == "undefined" %}
      <br class="horizontal-separator" />
      <div class="experienceJob">
        <h3>Experience/Interest in “one of” (not necessarily more) the following areas:</h3>
        <ul>
          {% for point in expList %}
              <li>{{point}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endunless %}

      {% unless expect == "undefined" %}
      <br class="horizontal-separator" />
      <div class="expectJob">
        <h3>We Expect:</h3>
        <ul>
          {% for point in expectList %}
              <li>{{point}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endunless %}

      {% unless offer == "undefined" %}
      <br class="horizontal-separator" />
      <div class="offerJob">
        <h3>We offer:</h3>
        <ul>
          {% for point in offerList %}
              <li>{{point}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endunless %}

      <br class="horitzontal-separator" />
      <div class="applicationProcess">
        <p>To apply, please send a mail to <a class="jobRef" href="mailto:SDA-applications@lists.iai.uni-bonn.de"  target="_top">SDA Applications</a> including a CV, a master certificate, a motivation letter including a short overview of previous research activities, two letters of recommendation and a writing sample (e.g. prior publication or master thesis excerpt). Applications are possible until all positions have been filled. Please do not send mails larger than 10MB.</p>
      </div>
      <br class="horizontal-separator">
      <div class="equalJobOpp">
        <h3>The University of Bonn is an equal opportunities employer.</h3>
        <ul>
          <li><a class="jobRef" href="https://en.wikipedia.org/wiki/University_of_Bonn#Ranking" target="_blank">https://en.wikipedia.org/wiki/University_of_Bonn#Ranking</a></li>
          <li><a class="jobRef" href="{{site.fraunhoferHomePage}}" target="_blank">{{site.fraunhoferHomePage}}</a></li>
        </ul>
      </div>
    </div>
    </div>
  </article>
</div>
