---
rdf_prefix_path: rdf-data/sda.tech.pref
layout: default
navigationdiv: Partners
---
<script>
setTitle('Industry Partners', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <!-- Presenting the PARTNERS -->
  <article class="post">
    <div class="pagination">
      {% include partnerHeader.html active="Industry Partners"%}
    </div>
      <!-- FOR GETTING ASSOCIATED PROJECTS -->
      {% capture query %} SELECT ?partners ?project ?partnername ?name ?image  WHERE{ ?partners a sdatech:Partner . ?partners foaf:currentProject ?project . OPTIONAL { ?partners foaf:name ?partnername } . ?project rdfs:label ?name  . OPTIONAL { ?project foaf:logo ?image } }
      {% endcapture %} {% assign partnersWithProjects = page.rdf | sparql_query: query %} {% assign length2 = partners | size %}
      <div class="partner-items content-people">
        {% include partnerContent.html active="industry"%}
      </div>
      <br class="horizontal-separator2" />
  </article>
</div>
