---
rdf_prefix_path: sda.tech.pref
layout: default
toggleOnDiv: allPartners
toggledURLTo: /academicPartners/
---

<script> setTitle('Academic Partners', '{{site.title | escape}}'); </script>

{% include togglePartnerTypes.html %}
{% include toggleInitialPageLink.html div=page.toggleOnDiv linkto=page.toggledURLTo %}
<!-- Presenting the PARTNERS -->
<article class="post">
  <div class="pagination">
    {% include partnerHeader.html active="academic"%}
  </div>
    <!-- FOR GETTING ASSOCIATED PROJECTS -->
    {% capture query %} SELECT ?partners ?project ?partnername ?name ?image  WHERE{ ?partners a sdatech:Partner . ?partners foaf:currentProject ?project . OPTIONAL { ?partners foaf:name ?partnername } . ?project rdfs:label ?name  . OPTIONAL { ?project foaf:logo ?image } }
    {% endcapture %} {% assign partnersWithProjects = page.rdf | sparql_query: query %} {% assign length2 = partners | size %}
    <div class="partner-items content-people">
      {% include partnerContent.html active="academic"%}
    </div>
    <br class="horizontal-separator2" />
</article>
