---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Partners
---

<script>
setTitle('Partners', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include partnerQuerries.html %}

<div class="borderAll">
  <!-- Presenting the PARTNERS -->
  <article class="post">
    <div class="pagination">
      {% include partnerHeader.html active="Partners" total=partnersArray.size %}
    </div>
    <div class="partner-items content-people clear-padding">
      {% include partnerContent.html active="all"%}
    </div>
    {% include partnersFooter.html %}
  </article>
</div>
