---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---

<script>
setTitle('People', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="pagination">
  {% include peopleHeader.html active ="People" %}
</div>
<div class="content-people">
  {% include peopleContent.html active ="All" %}
</div>
<div class="pagination">
  {% include peopleHeader.html active ="People" footpaging="true"%}
</div>
<br class="horizontal-separator" />
