---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---

<script>
setTitle('PhD Students', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include personQuerries.html %}

<div class="borderAll" >
  <div class="pagination">
    {% include peopleHeader.html active ="PhD Students" total=phdStudentsArray.size %}
  </div>
  <div class="content-people">
    {% include peopleContent.html active ="Phd"  %}
  </div>
  <div class="pagination-footer">
  </div>
</div>
