---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---

<script>
setTitle('Associate Researchers', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{%  include personQuerries.html %}


<div class="borderAll" >
  <div class="pagination">
    {% include peopleHeader.html active ="Associate Researchers" total=associateResearchersArray.size %}
  </div>
  <div class="content-people">
    {% include peopleContent.html active ="AR"  %}
  </div>
  <div class="pagination-footer">
  </div>
</div>
