---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---
{% capture title %} {{ page.rdf | rdf_property: 'foaf:title' }} {{ page.rdf | rdf_property: 'foaf:firstName' }} {{ page.rdf | rdf_property: 'foaf:familyName' }} {% endcapture %}
{% assign title = title | strip %}

<script>
setTitle('{{title}}', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<article class="post">
  <div class="pagination">
    <div class="post-content" style="padding:0px !important; margin-left:0px; margin-right:0px;">
      <br class="horizontal-separator" />
      <div style="text-align:center;"><img class="img-circle-small" style="width: 250px; height: 250px; border-radius: 0%; " src="{{ page.rdf | rdf_property: 'foaf:depiction'}}"></img>
          <div style="display:inline-block; vertical-align: middle;">
            <h3 style="text-align:left;"> {{title}} </h3>
            {% capture pName %}{{ page.rdf | rdf_property: 'foaf:name' }}{% endcapture %}
            {% capture query %} SELECT ?l ?loc WHERE { ?l ex:address ?loc . ?l foaf:name "{{pName}}" .}  {% endcapture %}{% assign locations = page.rdf | sparql_query: query %}
            {% if locations.size == 0 %}
              <h4 class="dynamicChange" style="text-align:left;">{{ page.rdf | rdf_property: 'foaf:status' }}</h4>
            {% endif %}
            {% for location in locations  %}
              {% capture query %} SELECT ?roomname ?affiliation ?fullAddress WHERE { <{{location.loc}}> a sda:Room .  <{{location.loc}}> ex:name ?roomname .  <{{location.loc}}> ex:affiliation ?affiliation . <{{location.loc}}> schema:location ?fullAddress .}  {% endcapture %}{% assign fulladdresses = page.rdf | sparql_query: query %}
              {% for fladdress in fulladdresses %}
                <p style="margin-top:0.3cm;text-align:left;font-size:80%;"><strong>{{fladdress.affiliation}}</strong><br/>
                  {% capture query %} SELECT ?streetAddress ?postalCode ?addressLocality ?institute ?institutewebsite WHERE { <{{fladdress.fullAddress}}> a schema:PostalAddress .  <{{fladdress.fullAddress}}> schema:streetAddress ?streetAddress . <{{fladdress.fullAddress}}> schema:postalCode ?postalCode . <{{fladdress.fullAddress}}> schema:addressLocality ?addressLocality . <{{fladdress.fullAddress}}> schema:institute ?institute . <{{fladdress.fullAddress}}> sda:website ?institutewebsite .}  {% endcapture %}{% assign paddresses = page.rdf | sparql_query: query %}
                  {% for paddress in paddresses %}
                    <a href="{{paddress.institutewebsite}}">{{paddress.institute}}</a><br/>
                    {{fladdress.roomname}}<br/>
                    {{paddress.streetAddress}}, {{paddress.postalCode}} {{paddress.addressLocality}}<br/>
                  {% endfor %}
              {% endfor %}
            {% endfor %}</p>
            <div class="links-to-social" style="text-align:left;">
              {% capture query %} SELECT ?person ?profilepage WHERE { ?person sda:profilepage ?profilepage . ?person foaf:name "{{pName}}" .}  {% endcapture %}{% assign profiles = page.rdf | sparql_query: query %}
              {% for profile in profiles  %}
                {% capture query %} SELECT ?buttonname WHERE { <{{profile.profilepage}}> a schema:ProfilePage .  <{{profile.profilepage}}> ex:buttonLabel ?buttonname .}  {% endcapture %}{% assign profiledetails = page.rdf | sparql_query: query %}
                {% for pdetail in profiledetails  %}
                  <profilebutton onclick="location.href='{{profile.profilepage}}' " type="button">{{pdetail.buttonname}}</profilebutton>
                {% endfor %}
              {% endfor %}
          </div>
        </p><p style="text-align:left;font-size:80%;"> {{page.rdf | rdf_property: 'foaf:phone'}}  <br/> <a style="padding-right:2px; padding-left:2px; color: black;" href="mailto:{{page.rdf | rdf_property: 'foaf:mbox' |remove: 'mailto:' | encode_email}}">{{page.rdf | rdf_property: 'foaf:mbox' |remove: 'mailto:'}} </a></p>
        </div>
        <br class="horizontal-separator">
        <br class="horizontal-separator">
        <hr width="100%" >
      </div>
      {% capture shortCV %}{{page.rdf | rdf_property: 'cv:aboutPerson'}}{% endcapture %}
      {% if shortCV.size != 0 %}
        <div width="100%" style="background-color:#EEEEEE; border-bottom: 1px solid #E0E0E0;" class="">
          <h3 style="padding-left:48px !important; padding-top:16px !important;">Short CV</h3>
        </div>
        <div>
          <div class="description-project"  style="padding:48px !important; padding-top:0px; ">
            <p>{{shortCV}}</p>
          </div>
      </div>
      <hr width="100%" >
      {% endif %}

      <!-- Displaying the groups of particular members  -->
      {% capture personName %}{{ page.rdf | rdf_property: 'foaf:name' }}{% endcapture %}
      {% capture query %} SELECT ?person ?group ?groupName ?groupImage WHERE { ?person foaf:name "{{personName}}" . ?person sda:group ?group . ?group a aiiso:ResearchGroup . ?group rdfs:label ?groupName . ?group sda:imageclass ?groupImage .}{% endcapture %} {% assign groupList = page.rdf | sparql_query: query %}
      {% if groupList.size != 0 %}
      <div class="members-projects links" min-width="100%">
        <div class="membersofProject" style="padding-bottom:48px; display:block !important;" min-width="100%">
          <div min-width="100%" style="background-color:#EEEEEE; border-bottom: 1px solid #E0E0E0;" class="">
            <h3 style="padding-left:48px !important; padding-top:16px !important;">Research Groups</h3>
          </div>
          <div class="rgroupsSection" style="padding:48px">
            {% for group in groupList %}
              {% assign url= group.group | remove: "http://sda.tech/" %}
              <div class="chip">
                <i class="{{group.groupImage}} margin-icon"></i>
                <a href="../../{{url}}">{{group.groupName}}</a>
              </div>
            {% endfor %}
          </div>
        </div>
        </div>
        <hr width="100%" >
        {% endif %}
        <!-- Person to Project Relationship Direct -->
        {% capture query %} SELECT ?person ?project ?projectname ?image WHERE {
        <{{page.rdf}}> foaf:currentProject ?project . ?project rdfs:label ?projectname . ?project foaf:depiction ?image .
        }{% endcapture %} {% assign projectList = page.rdf | sparql_query: query %}
        {% if projectList.size != 0 %}
        <div  class="members-projects links">
          <div class="membersofProject" style="padding-bottom:48px;" min-width="100%">
            <div min-width="100%" style="background-color:#EEEEEE; border-bottom: 1px solid #E0E0E0;" class="">
              <h3 style="padding-left:48px !important; padding-top:16px !important; ">Projects</h3>
            </div>
            <div class="rgroups" style="padding:48px !important; padding-top:0px; ">
              {% for projects in projectList %}
                {% assign url= projects.project | remove: "http://sda.tech/" %}
                <div class="chip">
                  <img class="img-circle-small" src="{{projects.image}}" alt="Project" width="96" height="96">
                  <a href="../../{{url}}">{{projects.projectname}}</a>
                </div>
              {% endfor %}
            </div>
            </div>
         </div>
         <hr width="100%" >
         {% endif %}
         <!-- Displaying all the courses of the PERSON  -->
        {% capture querytwo %} SELECT ?course ?short ?desc ?coursename ?id ?semester ?year ?maintainer ?name WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course dct:title ?coursename . ?course ex:description ?desc . ?course sda:id ?id . ?course sda:maintainer ?maintainer . ?maintainer foaf:name ?name . ?course sda:semester ?semester . ?course sda:year ?year . } order by asc(str(?id)) {% endcapture %} {% assign resultset3 = page.rdf | sparql_query: querytwo %}

        {% capture querythree %} SELECT ?course ?short ?desc ?coursename ?id ?semester ?year ?maintainer ?name WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course dct:title ?coursename . ?course ex:description ?desc . ?course sda:id ?id . ?course sda:maintainer ?maintainer . ?maintainer foaf:name name . ?course sda:semester semester . ?course sda:year year . FILTER regex(str(?year), "2018") } {% endcapture %} {% assign yearSemester = page.rdf | sparql_query: querytwo %}
        {% assign booleanyear = false %}
        {% assign booleansemester = false %}
        {% assign boolname = false %}

        {% for result in resultset3 %}
          {% capture  name %}{{result.name}}{% endcapture %}
          {% capture year %}{{result.year}}{% endcapture %}
          {% capture semester %}{{result.semester}}{% endcapture %}

          {% if name == personName and boolname != true %}
            {% assign boolname = true %}
          {% endif %}
          {% if year == "2018" and booleanyear != true %}
            {% assign booleanyear = true %}
          {% endif %}
          {% if semester == "Summer" and booleansemester != true %}
            {% assign booleansemester = true %}
          {% endif %}
        {% endfor %}

        {% if resultset3.size != 0 and boolname == true and booleanyear == true and booleansemester == true  %}
          <div   width="100%">
            <div class="membersofProject"  min-width:"100%">
              <div min-width="100%" style="background-color:#EEEEEE; border-bottom: 1px solid #E0E0E0;" class="">
                <h3 style="padding-left:48px !important; padding-top:16px !important;  ">Teaching</h3>
              </div>
              <div style="padding:48px !important; margin-left:0px; margin-right:0px;">
                <table class="flat-table flat-table-1" style="margin:0px !important">
                  <thead>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Short Description</th>
                  </thead>
                  <tbody>
                      {% assign currentYear = 2018 %}
                       {% assign currentSemester = "Summer" %}
                       {% for result5 in resultset3 %} {% capture year %}{{result5.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture maintainername %}{{result5.name}}{% endcapture %}{% capture semester %}{{result5.semester}}{% endcapture %}{% if maintainername == personName %}{% if year == currentYear %}{% if semester == currentSemester %}
                         {% if sectionheading ==  'no' %}
                           {% assign sectionheading = 'yes' %}
                      {% endif %}
                      <tr>
                        <td>{{result5.id}}</td>
                        <td><a href="{{result5.page}}">{{result5.coursename}}</a></td>
                        <td>{{result5.desc}}</td>
                      </tr>
                      {% endif %}{% endif %}{% endif %}{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr width="100%" >
        {% endif %}

         <!-- Displaying all the Thesis Topics of the PERSON  -->
         {% capture personName %}{{ page.rdf | rdf_property: 'foaf:name' }}{% endcapture %}
         {% capture query %} SELECT ?thesis ?title ?creator ?name ?thesislevel WHERE{ ?thesis a sdatech:openThesis . ?thesis dct:title ?title . ?thesis sda:thesisLevel ?thesislevel . ?thesis dct:creator ?creator . ?creator foaf:name "{{personName}}" . } {% endcapture %} {% assign thesistopics = page.rdf | sparql_query: query %}
         {% if thesistopics.size != 0 %}
         <div  class=""  min-width="100%">
           <div class="partnersOfProject" min-width="100%">
             <div min-width="100%" style="background-color:#EEEEEE; border-bottom: 1px solid #E0E0E0;" class="">
               <h3 style="padding-left:48px !important; padding-top:16px !important; ">Thesis Topics</h3>
             </div>
             <div class="rthesistopics" style="padding:48px !important; margin-left:0px; margin-right:0px;" >
               {% for topic in thesistopics %}
                 <div class="links">
                   <ul>
                     <li style="text-align: left;"><a href="../../bachelorthesis">{{topic.title}}</a> ({{topic.thesislevel}})<br>
                   </ul>
                 </div>
               {% endfor %}
             </div>
           </div>
         </div>
         <hr width="100%" >
         {% endif %}
         <!-- Displaying all the publications of the PERSON  -->
         {% capture query %} SELECT ?publication ?title ?date ?publisher ?link  WHERE{
         <{{page.rdf}}> sda:publication ?publication . ?publication dc:title ?title . ?publication dc:date ?date . ?publication dc:publisher ?publisher . ?publication foaf:homepage ?link . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %}
         {% if resultset2.size != 0 %}
          <div class="" style="background-color:#F5F5F5;" width="100%">
            <div class="partnersOfProject">
                <button class="collapsible">Open Section 1</button>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <button class="collapsible">Open Section 2</button>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <button class="collapsible">Open Section 3</button>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

              <!-- <div class="links">
                <h3 style="padding-left:48px !important; padding-top:16px !important; padding-bottom:16px !important ">Publications</h3>
                <div  style="padding:48px !important; margin-left:0px; margin-right:0px;">
                {% for result4 in resultset2 %}
                  {% include pubEntry.html link=result4.link date=result4.date publisher=result4.publisher title=result4.title  %}
                {% endfor %}
                <br class="horizontal-separator2" />
                <br class="horizontal-separator" />
                </div>
              </div> -->
            </div>
          </div>
          <hr width="100%" >
          {% endif %}
          <br>
          <div style="text-align:center;">
            {% capture boolTwitter | strip  %}{{ page.rdf | rdf_property: 'sda:twitter' }}{% endcapture %}
            {% capture boolWebsite | strip %}{{ page.rdf | rdf_property: 'sda:website' }}{% endcapture %}
            {% capture boolFacebook | strip %}{{ page.rdf | rdf_property: 'sda:facebook' }}{% endcapture %}
            {% capture boolLinkedin | strip %}{{  page.rdf | rdf_property: 'sda:linkedin' }}{% endcapture %}
            {% capture boolResearchGate | strip %}{{  page.rdf | rdf_property: 'sda:researchgate' }}{% endcapture %}
            {% capture boolGoogleScholar | strip %}{{  page.rdf | rdf_property: 'sda:googlescholar' }}{% endcapture %}
            {% capture query %} SELECT ?person ?profilepage WHERE { ?person sda:profilepage ?profilepage . ?person foaf:name "{{pName}}" .}  {% endcapture %}{% assign profiles = page.rdf | sparql_query: query %}
            {% for profile in profiles  %}
              {% capture query %} SELECT ?buttonname WHERE { <{{profile.profilepage}}> a schema:ProfilePage .  <{{profile.profilepage}}> ex:buttonLabel ?buttonname .}  {% endcapture %}{% assign profiledetails = page.rdf | sparql_query: query %}
              {% for pdetail in profiledetails  %}
                {% capture buttonname %}{{pdetail.buttonname | downcase  }}{% endcapture %}
                {% if buttonname == "twitter"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>{% endif %}
                {% if buttonname == "homepage" %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>{% endif %}
                {% if buttonname == "facebook"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>{% endif %}
                {% if buttonname == "linkedin"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>{% endif %}
                {% if buttonname == "researchgate"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i style="font-weight:900" class="fa fa-researchgate" aria-hidden="true">RG</i></a>{% endif %}
                {% if buttonname == "googlescholar"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-google" aria-hidden="true"></i> </a>{% endif %}
                {% if buttonname == "github"  %}<a href="{{profile.profilepage}}" style="margin-right:6px !important;" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> </a>{% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        <!-- </div> -->
        <!-- <br class="horizontal-separator"> -->
      </div>
      </div>
      </div>
</article>
<br class="horizontal-separator" />

<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activec");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
