---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---

<script>
setTitle('Senior Researchers', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include personQuerries.html %}

<div class="borderAll" >
  <div class="pagination">
    {% include peopleHeader.html active ="Senior Researchers" total=seniorResearchersArray.size %}
  </div>
  <div class="content-people">
    {% include peopleContent.html active ="SeniorResch"  %}
  </div>
  <div class="pagination-footer">
  </div>
</div>
