---
rdf_prefix_path: sda.tech.pref
layout: default
toggleOnDiv: Former
toggledURLTo: /formermembers/
---

<script> setTitle('Former Members', '{{site.title | escape}}'); </script>

{% include togglePeopleTypes.html %}
{% include toggleInitialPageLink.html div=page.toggleOnDiv linkto=page.toggledURLTo %}
<div class="pagination">
  {% include peopleHeader.html active ="FormerMembers" %}
</div>
<div class="content-people">
  {% include peopleContent.html active ="Former" %}
</div>
<br class="horizontal-separator" />
<script>
  changeActivePersons("{{site.data.peopleTypes[6].name}}");
</script>
