---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: People
---

<script>
setTitle('Former Members', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include personQuerries.html %}

<div class="borderAll">
  <div class="pagination">
    {% include peopleHeader.html active ="Former Members" total=formerMembersArray.size %}
  </div>
  <div class="content-people">
    {% include peopleContent.html active ="Former"  %}
  </div>
  <div class="pagination-footer">
  </div>
</div>
