---
rdf_prefix_path: sda.tech.pref
layout: default
---
{% capture title %} {{ page.rdf | rdf_property: 'foaf:title' }} {{ page.rdf | rdf_property: 'foaf:firstName' }} {{ page.rdf | rdf_property: 'foaf:familyName' }} {% endcapture %}
{% assign title = title | strip %}

<script> setTitle('{{title}}', '{{site.title | escape}}'); </script>

<article class="post">
  <div class="pagination">
    <div class="post-content">
      <br class="horizontal-separator" />
      <div style="text-align:center;"><img class="img-circle-small" style="width: 250px; height: 250px;" src="{{ page.rdf | rdf_property: 'foaf:depiction'}}"></img> 
          <div style="display:inline-block; vertical-align: middle;">
                 <h2> {{title}} </h2>
          <h4 class="dynamicChange" style="text-align:center;">{{ page.rdf | rdf_property: 'foaf:status' }}</h4>
          <br/>
          <div class="links-to-social" style="text-align:center;">
              {% capture boolTwitter | strip  %}{{ page.rdf | rdf_property: 'sda:twitter' }}{% endcapture %}
              {% capture boolWebsite | strip %}{{ page.rdf | rdf_property: 'sda:website' }}{% endcapture %}
              {% capture boolFacebook | strip %}{{ page.rdf | rdf_property: 'sda:facebook' }}{% endcapture %}
              {% capture boolLinkedin | strip %}{{  page.rdf | rdf_property: 'sda:linkedin' }}{% endcapture %}
              {% capture boolResearchGate | strip %}{{  page.rdf | rdf_property: 'sda:researchgate' }}{% endcapture %}
              {% capture boolGoogleScholar | strip %}{{  page.rdf | rdf_property: 'sda:googlescholar' }}{% endcapture %}
              <!-- Presenting Social Media Icons if Exists links -->
              {% if boolTwitter and boolTwitter != "" and boolTwitter != nil  %}<a href="{{ page.rdf | rdf_property: 'sda:twitter' }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>{% endif %}
              {% if boolWebsite and boolWebsite != "" and boolWebsite != nil %}<a href="{{ page.rdf | rdf_property: 'sda:website' }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>{% endif %}
              {% if boolFacebook and boolFacebook != "" and boolFacebook != nil  %}<a href="{{ page.rdf | rdf_property: 'sda:facebook' }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>{% endif %}
              {% if boolLinkedin and boolLinkedin != "" and boolLinkedin != nil  %}<a href="{{ page.rdf | rdf_property: 'sda:linkedin' }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>{% endif %}
              {% if boolResearchGate and boolResearchGate != "" and boolResearchGate != nil  %}<a href="{{ page.rdf | rdf_property: 'sda:researchgate' }}" target="_blank"><i style="font-weight:900" class="fa fa-researchgate" aria-hidden="true">RG</i></a>{% endif %}
              {% if boolGoogleScholar and boolGoogleScholar != "" and boolGoogleScholar != nil  %}<a href="{{ page.rdf | rdf_property: 'sda:googlescholar' }}" target="_blank"><i class="fa fa-google" aria-hidden="true"></i> </a>{% endif %}
        </div>
      </div></div>
      <br class="horizontal-separator2" />
      <div style="text-align:center;">
        <div class="membersofProject" >
          <p><span style="padding-right:8px;"><i class="fa fa-home" aria-hidden="true"></i> Room Number: {{page.rdf | rdf_property: 'sda:room'}}</span>&nbsp; . &nbsp;<span style="padding-right:8px;"> <i class="fa fa-phone" aria-hidden="true"></i> {{page.rdf | rdf_property: 'foaf:phone'}} </span>&nbsp; . &nbsp;<span style="padding-right:8px;"> <i class="fa fa-envelope" aria-hidden="true"></i> <a style="padding-right:2px; padding-left:2px; color: black;" href="mailto:{{page.rdf | rdf_property: 'foaf:mbox' |remove: 'mailto:' | encode_email}}">{{page.rdf | rdf_property: 'foaf:mbox' |remove: 'mailto:'}} </a></span></p>
        </div>
      </div>
      <br class="horizontal-separator2" />
      <h3>Short CV</h3>
      <br class="horizontal-separator2" />
      <div class="description-project">
        <p>{{page.rdf | rdf_property: 'cv:aboutPerson'}}</p>
      </div>
      <br class="horizontal-separator" />
      <div class="members-projects links">
        <h3>Research Groups</h3>
        <div class="partnersOfProject">
          {% capture personName %}{{ page.rdf | rdf_property: 'foaf:name' }}{% endcapture %}
          {% capture query %} SELECT ?group ?groupName ?groupImage ?member ?memberName WHERE { ?group a aiiso:ResearchGroup . ?group rdfs:label ?groupName . ?group sda:imageclass ?groupImage . ?group foaf:member ?member . ?member foaf:name ?memberName . }  {% endcapture %}{% assign groups = page.rdf | sparql_query: query %}
          <!-- Dieplaying the groups of particular members -->
          {% for group in groups %}
            {% capture groupMemeberName %}{{group.memberName}}{% endcapture %}
            {% assign url= group.group | remove: "http://sda.tech/" %}
            {% if personName == groupMemeberName %}
              <div class="chip">
                <!-- <i class="{{result.img}}" width="96" height="96"></i> -->
                <i class="{{group.groupImage}} margin-icon"></i>
                <a href="../../{{url}}">{{group.groupName}}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <br class="horizontal-separator2" />
        <br class="horizontal-separator2" />
        <h3>Projects</h3>
        <div class="membersofProject">
          <!-- Person to Project Relationship Direct -->
            {% capture query %} SELECT ?person ?project ?projectname ?image WHERE {
              <{{page.rdf}}> foaf:currentProject ?project . ?project rdfs:label ?projectname . ?project foaf:depiction ?image .
            }{% endcapture %} {% assign projectList = page.rdf | sparql_query: query %}
            {% for projects in projectList %}
              {% assign url= projects.project | remove: "http://sda.tech/" %}
              <div class="chip">
                <img class="img-circle-small" src="{{projects.image}}" alt="Project" width="96" height="96">
                <a href="../../{{url}}">{{projects.projectname}}</a>
              </div>
            {% endfor %}
          <!--  -->
          <!-- {% capture query %} SELECT ?project ?projectname ?image ?member ?membername WHERE{
          ?project a foaf:Project . ?project rdfs:label ?projectname . ?project foaf:depiction ?image . ?project foaf:member ?member . ?member foaf:name ?membername . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %} -->
            <!--Displaying all the reseach interests of the person x  -->
<!--
            {% for result in resultset2 %} {% capture mname %}{{result.membername }}{% endcapture %} {% if personName == mname %} {% assign url= result.project | remove: "http://sda.tech/" %}
            <div class="chip">
              <img src="{{result.image}}" alt="Project" width="96" height="96">
              <a href="../../{{url}}">{{result.projectname}}</a>
            </div>
            {% endif %}{% endfor %} -->
        </div>
      </div>
      <br class="horizontal-separator2" />
      <h3>Publications</h3>
      <div class="links">
        <!-- Displaying all the publications of the PERSON  -->
       {% capture query %} SELECT ?publication ?title ?date ?publisher ?link  WHERE{
       <{{page.rdf}}> sda:publication ?publication . ?publication dc:title ?title . ?publication dc:date ?date . ?publication dc:publisher ?publisher . ?publication foaf:homepage ?link . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %}
        {% for result4 in resultset2 %}
        {% include pubEntry.html link=result4.link date=result4.date publisher=result4.publisher title=result4.title  %}
        {% endfor %}
        <br class="horizontal-separator" />
      </div>
      <br class="horizontal-separator2" />
      <h3>Teaching</h3>
        <!-- Displaying all the courses of the PERSON  -->
        {% capture querytwo %} SELECT ?course ?short ?desc ?coursename ?id ?semester ?year ?maintainer ?name WHERE{ ?course a sdatech:Course . ?course rdfs:label ?short . ?course dct:title ?coursename . ?course ex:description ?desc . ?course sda:id ?id . ?course sda:maintainer ?maintainer . ?maintainer foaf:name ?name . ?course sda:semester ?semester . ?course sda:year ?year . } order by asc(str(?id)) {% endcapture %} {% assign resultset3 = page.rdf | sparql_query: querytwo %}
        {% assign currentYear = 2018 %}
        {% assign currentSemester = "Summer" %}

        {% for result5 in resultset3 %} {% capture year %}{{result5.year}}{% endcapture %}{% assign year = year | plus: 0 %}{% capture maintainername %}{{result5.name}}{% endcapture %}{% capture semester %}{{result5.semester}}{% endcapture %}{% if maintainername == personName %}{% if year == currentYear %}{% if semester == currentSemester %}
    <div style="padding: 0px;" class="courseLink course-list">
      <ul>
        <li style="text-align: left;"><a href="{{result5.page}}">{{result5.coursename}}</a> - {{result5.id}}<br> <i>{{result5.desc}}</i><br>
        </li>
      </ul>
    </div>
     {% endif %}{% endif %}{% endif %}{% endfor %}
        <br class="horizontal-separator" />
      </div>
    </div>
  </div>
</article>
<br class="horizontal-separator" />
