---
rdf_prefix_path: sda.tech.pref
layout: default
toggleOnDiv: Prof
toggledURLTo: /professors/
---
<!-- {% include togglePeopleTypes.html %}
{% include toggleInitialPageLink.html div=page.toggleOnDiv linkto=page.toggledURLTo %} -->
<div class="pagination">
  {% include peopleHeader.html active ="Professors" %}
</div>
<div class="content-people">
  {% include peopleContent.html active ="Prof" %}
</div>
<br class="horizontal-separator" />
<!--Initial Script  -->
<!-- <script>
  changeActivePersons("{{site.data.peopleTypes[0].name}}");
</script> -->
