---
layout: default
rdf_prefix_path: sda.tech.pref
navigationdiv: Blog
---

{% capture title %} {{ page.rdf | rdf_property: 'sioc:topic' }}{% endcapture %}
{% assign title = title | strip %}

{% include postHeaderActivation.html %}

{% capture depiction %} {{ page.rdf | rdf_property: 'foaf:depiction' }} {% endcapture %}
{% capture creator %} {{ page.rdf | rdf_property: 'dct:creator' }} {% endcapture %}
{% capture  date %} {{ page.rdf | rdf_property: 'dct:created' }} {% endcapture %}
{% capture content %} {{ page.rdf | rdf_property: 'sioc:content' }} {% endcapture %}
{% assign person= creator | remove: " http://sda.tech/Person/" %}
{% include blogQuerries.html %}

<div class="borderAll">
  <div class="pagination">
    <!-- Toggle Button Item -->
    <!-- TODO: Toggle Functionality with updated secondaryNav -->
    <!-- {% include toggleMenu.html type = "oneRow" %} -->
    <!--  -->
    <div id="allPostHeader" style="display:none;">
      {% include blogHeader.html active="Blog"%}
    </div>
    <div id="particularPostHeader" style="display:block;">
      <!-- Query for Paper Notifications -->
      {% capture query %} SELECT ?paper ?papername Where {
          <{{page.rdf}}> a sdatech:PaperNotification . ?paper dct:title ?papername . } {% endcapture %}
      {% assign papernotifications = page.rdf | sparql_query: query %}

      {% if papernotifications.size != 0 %}
        {% include blogHeader.html active="Paper Notifications"%}
      {% endif %}

      <!-- Query for Invited Talks -->
      {% capture query %} SELECT ?paper ?papername Where {
          <{{page.rdf}}> a sdatech:InvitedTalks . ?paper dct:title ?papername . } {% endcapture %}
      {% assign invitedtalks = page.rdf | sparql_query: query %}

      {% if invitedtalks.size != 0 %}
        {% include blogHeader.html active="Invited Talks"%}
      {% endif %}

      <!-- Query for Project Announcements -->
      {% capture query %} SELECT ?paper ?papername Where {
          <{{page.rdf}}> a sdatech:ProjectAnnouncements . ?paper dct:title ?papername . } {% endcapture %}
      {% assign projectannouncements = page.rdf | sparql_query: query %}

      {% if projectannouncements.size != 0 %}
        {% include blogHeader.html active="Project Announcements"%}
      {% endif %}

      <!-- Query for General Posts -->
      {% capture query %} SELECT ?paper ?papername Where {
          <{{page.rdf}}> a sdatech:GeneralPosts . ?paper dct:title ?papername . } {% endcapture %}
      {% assign generalposts = page.rdf | sparql_query: query %}

      {% if generalposts.size != 0 %}
        {% include blogHeader.html active="General Posts"%}
      {% endif %}

    </div>
  </div>
  <article class="post">
      <div class="post-content">
        <div class="postentry">
          <p><font size="5">{{title}}</font></p>
          <div class="postmetadata">&#128467; {{date}} &nbsp;&nbsp; &#x270D; {{person}}</div>
          <br/>
          <p><img src="{{depiction}}" style="float:left;height:180px;width:230px;padding:30px;">{{content}}</p>
          <br/>
        </div>
      </div>
  </article>
  <div class="pagination-footer">
  </div>
</div>
