---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Blog
---

{% capture title %} {{ page.rdf | rdf_property: 'sioc:topic' }}{% endcapture %}
{% assign title = title | strip %}

<script>
setTitle('{{title}}', '{{site.title | escape}}');
</script>

{% capture depiction %} {{ page.rdf | rdf_property: 'foaf:depiction' }} {% endcapture %}
{% capture creator %} {{ page.rdf | rdf_property: 'dct:creator' }} {% endcapture %}
{% capture  date %} {{ page.rdf | rdf_property: 'dct:created' }} {% endcapture %}
{% capture content %} {{ page.rdf | rdf_property: 'sioc:content' }} {% endcapture %}
{% assign person= creator | remove: " http://sda.tech/Person/" %}

<div class="borderAll">
  <article class="post">
      <div class="post-content">
        <div class="postentry">
          <p><font size="5">{{title}}</font></p>
          <div class="postmetadata">&#128467; {{date}} &nbsp;&nbsp; &#x270D; {{person}}</div>
          <br/>
          <p><img src="{{depiction}}" style="float:left;height:180px;width:230px;padding:30px;">{{content}}</p>
          <br/><hr style="text-align:center;">
        </div>
      </div>
  </article>
</div>
