---
rdf_prefix_path: sda.tech.pref
layout: default
toggledURL: project
toggledURLTo: /project/allProjects
navigationdiv: Projects
---

{% capture title %} {{ page.rdf | rdf_property: 'rdfs:label' }} {% endcapture %}
<script>
setTitle('{{title}}', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <div class="pagination">
    <!-- Toggle Button Item -->
    {% include toggleMenu.html type = "oneRow" %}
    {% include projectHeader.html active="Funded Projects"%}
  </div>
  <div class="content-people">
    <div class="post-content">
      <div class="main-content">
        {% assign title= page.rdf | rdf_property: 'rdfs:label' %}{% assign homepageProject= page.rdf | rdf_property: 'foaf:homepage' %}{% assign twitterProject= page.rdf | rdf_property: 'sda:twitter' %}{% assign downloadProject= page.rdf | rdf_property: 'sda:download' %}{% assign projectSource= page.rdf | rdf_property: 'sda:source' %}{% assign image= page.rdf | rdf_property: 'foaf:depiction' %} {% assign description= page.rdf |rdf_property: 'ex:longdescription' %} {% include projectItem.html title=title image=image description=description last=1 href=url projectItemFor="project" homepage=homepageProject twitter=twitterProject source=projectSource download=downloadProject %}
      </div>
      {% capture projectMainTitle %}{{title}}{% endcapture %}
      {% capture query %} SELECT ?person ?personname ?image ?project ?projectname Where {
          ?person a foaf:Person . OPTIONAL { ?person foaf:name ?personname } . OPTIONAL { ?person foaf:depiction ?image } .  ?person foaf:currentProject ?project . ?project  rdfs:label ?projectname .
      } {% endcapture %} {% assign projectmembers = page.rdf | sparql_query: query %}
      {% if projectmembers.size != 0 %}
      <div class="members-projects">
        <br class="horizontal-separator2" />
        <h4>Team</h4>
          <div class="membersofProject links">
            {% for person in projectmembers %}
             {% capture projectTitle %}{{person.projectname}}{% endcapture %}
              {% if projectMainTitle == projectTitle %}
                {% assign url= person.person | remove: "http://sda.tech/" %}
                <div class="chip">
                  <img  class="img-circle-small" src="{{person.image}}" alt="Person" width="96" height="96">
                  <a href="../../{{url}}">{{person.personname}}</a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
      </div>
      {% endif %}
      <!-- <hr width="100%" > -->

      {% capture query %} SELECT ?partner ?partnername ?image ?partnersite WHERE{
      ?partner a sdatech:Partner . ?partner foaf:currentProject <{{page.rdf}}> . ?partner rdfs:label ?partnername . ?partner foaf:depiction ?image . OPTIONAL{ ?partner foaf:homepage ?partnersite } . } {% endcapture %} {% assign partners = page.rdf | sparql_query: query %}
      {% if partners.size != 0 %}
      <br class="horizontal-separator2" />
      <h4>Partners</h4>
        <div class="partnersOfProject links">
          {% for partner in partners %} {% assign url= partner.partner | remove: "http://sda.tech/"%}
            <div class="chip">
              <img  class="img-circle-small" src="{{partner.image}}" alt="Person" width="96" height="96">
              <a {% if partner.partnersite != NULL %}href="{{partner.partnersite}}" {% else %}href="../../partners/"{% endif %} target="_blank">{{partner.partnername}}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- <hr width="100%" > -->

      {% capture query %} SELECT ?publication ?pubname ?description WHERE{
        <{{page.rdf}}> ex:publication ?publication . ?publication dc:title ?pubname . } {% endcapture %} {% assign resultset2 = page.rdf | sparql_query: query %}
      {% if resultset2.size != 0 %}
      <br class="horizontal-separator2" />
      <h4>Publications</h4>
        <div class="publications-project">
          <!-- Displaying all the publications of the PROJECT  -->
          {% for result in resultset2 %}
            {% include pubEntry.html title=result.pubname %}
          {% endfor %}
        <div>
          <br class="horizontal-separator2" />
        </div>
      </div>
      {% endif %}
  </div>
</div>
<div class="pagination-footer">
</div>
</div>
