---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Projects
navigationdiv: Publications

---

<script>
setTitle('Open Source Projects', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <div class="pagination">
    {% include projectHeader.html active="Open Source Projects"%}
  </div>
  <div class="projects content-people clear-padding">
    {% include projectContent.html active="openSourceProjects"%}
  </div>
</div>
