---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Projects

---

<script>
setTitle('Funded Projects', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include projectQuerries.html %}

<div class="borderAll">
  <div class="pagination">
    {% include projectHeader.html active="Funded Projects" total=fundprojects.size %}
  </div>
  <div class="projects content-people clear-padding">
    {% include projectContent.html active="fundedProjects"%}
  </div>
  <div class="pagination-footer">
  </div>
</div>
