---
rdf_prefix_path: rdf-data/sda.tech.pref
layout: default
navigationdiv: Publications

---

<script type="text/javascript">
  setTitle('Publications', '{{site.title | escape}}');
  deactivateHeader();
  activateHeader('{{page.navigationdiv}}');
</script>
<div class="borderAll">
  <div class="pagination">
    {% include publicationHeader.html active="Technical Report" %}
  </div>
  <div class="content-people">
    {% include publicationContent.html active ="Technical Report" %}
  </div>
  <br class="horizontal-separator" />
</div>
