---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Publications
---

<script>
setTitle('Publications', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <!-- <div class="pagination">
    {% include publicationHeader.html active="Publications" %}
  </div> -->
  <div class="flat-table flat-table-1" style="min-width: 200px !important;margin-left:    32px !important;padding: 16px;border-top: 0px !important;background-color: #f6f8fa;width: 200px !important;/*! border-radius: 0px; *//*! text-align: center; */color: #24292e !important;">
    <thead>
      <tr>
        <th>Publications</th>
      </tr>
    </thead>
  </div>
  <div class="content-people">
    <div class="nostyle"  style="text-align:left; ">
      <script src="http://bibbase.org/show?bib=https://raw.githubusercontent.com/SmartDataAnalytics/sda.tech/master/sda.bib&jsonp=1&fullnames=1&theme=side&token=8fdfccb91fb8675707dcb9b6ae18c8f5"></script>
    </div>
  </div>
  Test
  <br>
  <div class="content-people">
    <div class="nostyle"  style="text-align:left; ">
      <script src="http://bibbase.org/show?bib=https://raw.githubusercontent.com/SmartDataAnalytics/sda.tech/mergeLayoutFeature/_publications/lehmann.sda.bib&jsonp=1&fullnames=1&theme=side&token=8fdfccb91fb8675707dcb9b6ae18c8f5"></script>
    </div>
  </div>
</div>
