---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Publications

---

<script type="text/javascript">
  setTitle('Publications', '{{site.title | escape}}');
  deactivateHeader();
  activateHeader('{{page.navigationdiv}}');
</script>
<div class="borderAll">
  <div class="pagination">
    {% include publicationHeader.html active="Journal" %}
  </div>
  <div class="content-people">
    {% include publicationContent.html active ="Journal" %}
  </div>
  <br class="horizontal-separator" />
</div>
