---
rdf_prefix_path: rdf-data/sda.tech.pref
layout: default
navigationdiv: Teaching
---

<script>
setTitle('Archived Courses', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <article class="post">
    <div class="pagination">
      <!-- Teaching Header -->
      {% include teachingHeader.html active="Archived Courses" %}
      <!-- Teaching Content -->
      {% include teachingContent.html active="old" %}
    </div>
  </article>
</div>
