---
rdf_prefix_path: sda.tech.pref
layout: default
toggleOnDiv: guidelines
toggledURLTo: /teaching/
---

<script> setTitle('Courses', '{{site.title | escape}}'); </script>

{% include toggleCourseTypes.html %}
{% include toggleInitialPageLink.html div=page.toggleOnDiv linkto=page.toggledURLTo %}
<article class="post">
  <div class="pagination">
    <!-- Teaching Header -->
    {% include teachingHeader.html active="courseguide" %}
    <!-- Teaching Content -->
    {% include teachingContent.html active="courseguide" %}
  </div>
</article>
