---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Teaching
---

<script>
setTitle('Winter Semester Courses', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

<div class="borderAll">
  <article class="post">
    <div class="pagination">
      <!-- Teaching Header -->
      {% include teachingHeader.html active="Latest Winter Semester Courses" %}
    </div>
    <div class="">
      <!-- Teaching Content -->
      {% include teachingContent.html active="winter" %}
    </div>
  </article>
</div>
