---
rdf_prefix_path: sda.tech.pref
layout: default
navigationdiv: Thesis
---

<script>
setTitle('Bachelor Theses', '{{site.title | escape}}');
deactivateHeader();
activateHeader('{{page.navigationdiv}}');
</script>

{% include toggleThesisTypes.html %}
{% include toggleBachelorThesis.html %}
{% include toggleMasterThesis.html %}

<!-- Presentation of thesis Items  -->
<div class="borderAll">
  <article class="post">
    <!--Thesis Header  -->
    {% include thesisHeader.html active="Bachelor Thesis" %}
    <!--Thesis Contetnt Types  -->
    {% include thesisContent.html active="bachelor" %}
    <br class="horizontal-separator2" />
  </article>
</div>
